
 <form action="{% url "bus.views.bus_booking" %}" method="post" name="seat_map" class="busseat">{% csrf_token %}
	<div class="col-md-12">
		<div class="col-md-3">
			<div class="col-md-6">
					<span class="circle-bg">1</span>
					<span>select seat</span>
			</div>
			<div class="col-md-6">
				<select name="seat">
					{% for b in results.0 %}
						{% if b.seat_status == 'availableSeat'%}
					<option value="{{b.SeatFare}},{{ b.SeatName }}">{{ b.SeatName }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-md-9">
			<div class="col-md-3">
				<span class="circle-bg">2</span>
				<span>select boardingpoint</span>
			</div>
			<div class="col-md-9">
				<select name="bpoint">
					{% for b in results.1 %}
					<option value="{{b.BPName}}">{{ b.BPLocation }}</option>
					{% endfor %}
				</select>
				<input type="submit" value="Confirm booking">
			</div>

		</div>
	</div>
</form> 

