{% extends 'base.html' %}
{% load i18n %}
{% block content %} 

        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                 <li><a href="#">{{source}} to {{destination}}</a>
                <!-- <li><a href="#">New York (NY)</a>
                </li>
                <li><a href="#">New York City</a>
                </li>
                <li class="active">New York City Rental Cars</li> -->
            </ul>
           <!--  <div class="mfp-with-anim mfp-hide mfp-dialog mfp-search-dialog" id="search-dialog">
                <h3>Search for Car</h3>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-highlight"></i>
                                <label>Pick-up From</label>
                                <input class="typeahead form-control" placeholder="City, Airport or U.S. Zip Code" type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-map-marker input-icon input-icon-highlight"></i>
                                <label>Drop-off To</label>
                                <input class="typeahead form-control" placeholder="City, Airport or U.S. Zip Code" value="Same as Pick-up" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="input-daterange" data-date-format="MM d, D">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                    <label>Pick-up Date</label>
                                    <input class="form-control" name="start" type="text" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-clock-o input-icon input-icon-highlight"></i>
                                    <label>Drop-off Time</label>
                                    <input class="time-pick form-control" value="12:00 AM" type="text" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                                    <label>Drop-off Date</label>
                                    <input class="form-control" name="end" type="text" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-clock-o input-icon input-icon-highlight"></i>
                                    <label>Pick-up Time</label>
                                    <input class="time-pick form-control" value="12:00 AM" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">Search for Flights</button>
                </form>
            </div> -->
            <h3 class="booking-title">Buses for {{source}} to {{destination}}<small>
            <a class="popup-text" href="#search-dialog" data-effect="mfp-zoom-out">Change search</a></small></h3>
            <form action="{% url "bus.views.bus_booking" %}" method="POST">{% csrf_token %}
            <div class="row">
                <div class="col-md-12 temp">
                    <div class="col-md-4 onward booking_status">
                        <p class="travels_onward"></p>
                        <input type="hidden" name="travels_onward" value="" readonly>
                        <p class="bpoint_onward"></p>
                        <input type="hidden" name="bpoint_onward" value="" readonly>
                        <p class="dept_time_onward"></p>
                        <input type="hidden" name="dept_time_onward" value="" readonly>
                        <p class="arri_time_onward"></p>
                        <input type="hidden" name="arri_time_onward" value="" readonly>
                        <p class="bus_type_onward"></p>
                        <input type="hidden" name="bus_type_onward" value="" readonly>
                        <p class="seats_onward"></p>
                        <input type="hidden" name="seats_onward" value="" readonly>
                        <p class="fare_onward"></p>
                        <input type="hidden" name="fare_onward" value="" readonly>
                        <input type="hidden" name="seatFareOnward" value="" readonly>
                        <input type="hidden" name="OnwardBoardingPoint" value="" readonly>


                    </div>
                    <div class="col-md-4 return booking_status">
                        <p class="travels_return"></p>
                        <input type="hidden" name="travels_return" value="" readonly>
                        <p class="bpoint_return"></p>
                        <input type="hidden" name="bpoint_return" value="" readonly>
                        <p class="dept_time_return"></p>
                        <input type="hidden" name="dept_time_return" value="" readonly>
                        <p class="arri_time_return"></p>
                        <input type="hidden" name="arri_time_return" value="" readonly>
                        <p class="bus_type_return"></p>
                        <input type="hidden" name="bus_type_return" value="" readonly>
                        <p class="seats_return"></p>
                        <input type="hidden" name="seats_return" value="" readonly>
                        <p class="fare_return"></p>
                        <input type="hidden" name="fare_return" value="" readonly>
                        <input type="hidden" name="seatFareReturn" value="" readonly>
                        <input type="hidden" name="ReturnBoardingPoint" value="" readonly>
                    </div>
                    <div class="col-md-2">
                        <input type="text" value="0" name="total_amount">
                        <input type="hidden" name="totalfare" value="">
                    </div>
                    <div class="col-md-2">
                        <input type="text" value="0" name="seat_count_round">
                        <input type="hidden" name="seatcount" value="">
                        <input type="submit" name="book" value="Book">
                    </div>
                </div>
            </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="nav-drop booking-sort">
                            <h5 class="booking-sort-title"><a href="#">Sort: Price (low to high)<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                            <ul class="nav-drop-menu">
                                <li><a href="#">Price (high to low)</a>
                                </li>
                                <li><a href="#">Price (low to high)</a>
                                </li>
                                <!-- <li><a href="#">Car Name (Z-A)</a>
                                </li>
                                <li><a href="#">Car Type</a>
                                </li> -->
                            </ul>
                        </div>
                        <!-- Content loop Start  -->




                        <ul class="booking-list">
                        <!--form action="{% url "bus.views.search_bus" %}" method="post" name="search_bus" class="bus_search"-->
                            {% for values in reviews %}
                            <li>
                                <!-- <form action="{%url "bus.views.seat_map" %}" method="post">{% csrf_token %} -->
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="booking-item-car-img">
                                                <p class="booking-item-car-title"><h3>{{values.businfos.TravelsName}}</h3></p>
                                                <p>{{values.businfos.BusType}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <span><b>Boarding point:</b>{{values.boardingpoints.BPLocation}}</span>
                                            <span><b>Depturepoints:</b>{{values.depturepoints.DPLocation}}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <span><b>SeatsAvailable:</b>{{values.seatinfo.SeatsAvailable}}</span>
                                            <span><b>SeatType:</b>{{values.seatinfo.seatType}}</span>
                                        </div>
                                        <div class="col-md-3"><span class="booking-item-price">{{values.businfos.fare}}</span><span>/day</span>
                                            
                                        </div>
                                       
                                    </div>
                                    <!-- This values for append data to top -->
                                    <input type="hidden" name="travels" value="{{values.businfos.TravelsName}}">
                                    <input type="hidden" name="bpoint" value="{{values.boardingpoints.BPLocation}}">
                                    <input type="hidden" name="dept_time" value="{{values.businfos.DepartureTime}}">
                                    <input type="hidden" name="arri_time" value="{{values.businfos.ArrivalTime}}">
                                    <input type="hidden" name="bus_type" value="{{values.businfos.BusType}}">
                                    <input type="hidden" name='skey'value="{{values.businfos.skey}}" >
                                     <input type="button" value="Seats" class="slide">
                                     <input type="hidden" value="onward" name="route_type">
                                     <div class="seat_map">  
                                     </div>
                                     
                                     </form>
                            </li> 
                            {% endfor %}
                        <!--form-->                           
                        </ul>
                        <!-- Content loop End  -->
                    </div>
                    <div class="col-md-6">
                        <div class="nav-drop booking-sort">
                            <h5 class="booking-sort-title"><a href="#">Sort: Price (low to high)<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a></h5>
                            <ul class="nav-drop-menu">
                                <li><a href="#">Price (high to low)</a>
                                </li>
                                <li><a href="#">Car Name (A-Z)</a>
                                </li>
                                <li><a href="#">Car Name (Z-A)</a>
                                </li>
                                <li><a href="#">Car Type</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Content loop Start  -->
                        <ul class="booking-list">
                        <!--form action="{% url "bus.views.search_bus" %}" method="post" name="search_bus" class="bus_search"-->
                            
                            {% for values_return in reviews_return %}
                            <li>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="booking-item-car-img">
                                                <p class="booking-item-car-title"><h3>{{values_return.businfos.TravelsName}}</h3></p>
                                                <p>{{values_return.businfos.BusType}}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <span><b>Boarding point:</b>{{values_return.boardingpoints.BPLocation}}</span>
                                            <span><b>Depturepoints:</b>{{values_return.depturepoints.DPLocation}}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <span><b>SeatsAvailable:</b>{{values_return.seatinfo.SeatsAvailable}}</span>
                                            <span><b>SeatType:</b>{{values_return.seatinfo.seatType}}</span>
                                        </div>
                                        <div class="col-md-3"><span class="booking-item-price">{{values_return.businfos.fare}}</span><span>/day</span>
                                            
                                        </div>
                                       
                                    </div>
                                    <input type="hidden" name="travels" value="{{values_return.businfos.TravelsName}}">
                                    <input type="hidden" name="bpoint" value="{{values_return.boardingpoints.BPLocation}}">
                                    <input type="hidden" name="dept_time" value="{{values_return.businfos.DepartureTime}}">
                                    <input type="hidden" name="arri_time" value="{{values_return.businfos.ArrivalTime}}">
                                    <input type="hidden" name="bus_type" value="{{values_return.businfos.BusType}}">
                                    <input type="hidden" name="bus_type" value="{{values_return.businfos.BusType}}">
                                    <input type="hidden" name='skey'value="{{values_return.businfos.skey}}" >
                                     <input type="button" value="Seats" class="slide">
                                     <input type="hidden" value="return">
                                     <div class="seat_map">  
                                     </div>
                            </li> 
                            {% endfor %}
                        <!--/form-->                           
                        </ul>
                        <!-- Content loop End  -->
                    </div>
                </div>
            </div>
            
            <div class="gap"></div>
        </div>
{% endblock %}        


        

        

