
 <form action="{% url "bus.views.bus_booking" %}" method="post" name="seat_map" class="busseat">{% csrf_token %}
 <script type="text/javascript">
 $('input[name="available_seat"]').change(function() {
 	var total_span = 0;
 	var par=$(this).parent().parent().parent();
    $('input[name="available_seat"]').each(function() {
        if ($(this).is(':checked')) {
            total_span += parseInt($(this).next().prop('value'));
        }
    });
    alert(total_span);
    $(".seat_amount",par).val(total_span);
});

 </script>
	<div class="col-md-12 booking-item-dates-change mb30">
		<div class="col-md-12">
			<div class="col-md-6">
					<span class="circle-bg">1.</span>
					<span>select seat</span>
			</div>
			<div class="col-md-6">
					{% for b in results.0 %}
						{% if b.seat_status == 'availableSeat'%}
					<!-- <option value="{{b.SeatFare}},{{ b.SeatName }}">{{ b.SeatName }}</option> -->
					<input type="checkbox" name="available_seat" class="available_seat" value="{{ b.SeatName }}">{{ b.SeatName }}&nbsp;&nbsp;
					<input type="hidden" name="available_seat_fare" class="available_seat" value="{{b.SeatFare}}">
						{% endif %}
					{% endfor %}
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
				<span class="circle-bg">2.</span>
				<span>select boardingpoint</span>
			</div>
			<div class="col-md-9">
				<select name="bpoint">
					{% for b in results.1 %}
					<option value="{{b.BPName}}">{{ b.BPLocation }}</option>
					{% endfor %}
				</select>
				
			</div>

		</div>
		<br/><br/>
		<div class="col-md-12">
			<div class="col-md-3">
			<span class="circle-bg">3.</span>
			<span>
				Amount:
			</span>
			</div>
			<br/><br/>
			<div class="col-md-9">
			<input class="seat_amount" value="0" type="text" name="total_seat_amount" readonly>
			</div>
		</div>
	</div>
	<input type="submit" value="Confirm booking">
</form> 

