{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3>Customer</h3>
         <form action="{% url "bus.views.tentativebooking" %}" method="post">{% csrf_token %}
         {% if request.COOKIES.trip == "oneway" %}
            {% for s,f in seat %}
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Title</label>
                            <select name="title_{{forloop.counter}}">
                                <option value="mr">Mr</option>
                                <option value="mrs">Mrs</option>
                                <option value="miss">Miss</option>
                            </select>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="form-group">
                                    <label>First Name</label>
                                    <input id="fname" class="form-control fname" type="text" name="fname_{{forloop.counter}}">
                                    <span class="errormgs" style="display:none; color:red;">please enter the first name</span>
                                </div>
                 
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                                    <label>Lastname</label>
                                    <input id="lname" class="form-control lname" type="text" name="lname_{{forloop.counter}}" />
                                    <span class="errormgs" style="display:none; color:red;">please enter the last name</span>
                                </div>
                    </div>
                    <div class="col-md-2">
                   
                        <div class="form-group">
                            <label>age</label>
                            <input class="form-control age" type="text" name="age_{{forloop.counter}}" />
                            <span></span>
                            <span class="errormgs" style="display:none; color:red;">please enter the age</span>
                        </div>
                 
                    </div>
                    <div class="col-md-1">
                   
                        <div class="form-group">
                        <label>seat</label>
                            <input type="text" name="seat_{{forloop.counter}}" value="{{s}}" readonly>
                            <input type="text" name="fare_{{forloop.counter}}" value="{{f}}" readonly>
                
                        </div>
                 
                    </div>
                </div>
            {%endfor%}
                <div class="row">

                    <div class="col-md-4 col-md-offset-2">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input class="form-control mobileno" type="text" name="mobile" />
                            <span class="errormgs" style="display:none; color:red;">please enter the mobile number</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control email" type="text" name="email" />
                            <span class="errormgs" style="display:none; color:red;">please enter the email</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="selected_seat" value="{{seat}}">
               <input class="btn btn-primary" type="submit" value="Proceed Payment" id="payment"/>
               {%else%}
               {% for s_o,f_o,s_r,f_r in seat %}
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Title</label>
                            <select name="title_{{forloop.counter}}">
                                <option value="mr">Mr</option>
                                <option value="mrs">Mrs</option>
                                <option value="miss">Miss</option>
                            </select>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="form-group">
                                    <label>First Name</label>
                                    <input id="fname" class="form-control fname" type="text" name="fname_{{forloop.counter}}">
                                    <span class="errormgs" style="display:none; color:red;">please enter the first name</span>
                                </div>
                 
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                                    <label>Lastname</label>
                                    <input id="lname" class="form-control lname" type="text" name="lname_{{forloop.counter}}" />
                                    <span class="errormgs" style="display:none; color:red;">please enter the last name</span>
                                </div>
                    </div>
                    <div class="col-md-2">
                   
                        <div class="form-group">
                            <label>age</label>
                            <input class="form-control age" type="text" name="age_{{forloop.counter}}" />
                            <span></span>
                            <span class="errormgs" style="display:none; color:red;">please enter the age</span>
                        </div>
                 
                    </div>
                    <div class="col-md-1">
                   
                        <div class="form-group">
                        <label>seat</label>
                            <input type="text" name="seat_onward_{{forloop.counter}}" value="{{s_o}}" readonly>
                            <input type="text" name="fare_onward_{{forloop.counter}}" value="{{f_o}}" readonly>
                
                            <input type="text" name="seat_return_{{forloop.counter}}" value="{{s_r}}" readonly>
                            <input type="text" name="fare_return_{{forloop.counter}}" value="{{f_r}}" readonly>
                        </div>
                 
                    </div>
                </div>
            {%endfor%}
                <div class="row">

                    <div class="col-md-4 col-md-offset-2">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input class="form-control mobileno" type="text" name="mobile" />
                            <span class="errormgs" style="display:none; color:red;">please enter the mobile number</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control email" type="text" name="email" />
                            <span class="errormgs" style="display:none; color:red;">please enter the email</span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="selected_seat" value="{{seat}}">
               <input class="btn btn-primary" type="submit" value="Proceed Payment" id="payment"/>
            {%endif%}
            </form>
            <hr>
        </div>
    </div>
    <div class="gap"></div>
</div>
{% endblock %} 




