{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Customer</h3>
         <form action="{% url "bus.views.tentativebooking" %}" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Title</label>
                            <select name="title">
                                <option value="mr">Mr</option>
                                <option value="mrs">Mrs</option>
                                <option value="miss">Miss</option>
                            </select>
                            <span></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="form-group">
                                    <label>First Name</label>
                                    <input id="fname" class="form-control fname" type="text" name="fname">
                                    <span class="errormgs" style="display:none; color:red;">please enter the first name</span>
                                </div>
                 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                                    <label>Lastname</label>
                                    <input id="lname" class="form-control lname" type="text" name="lname" />
                                    <span class="errormgs" style="display:none; color:red;">please enter the last name</span>
                                </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                   
                        <div class="form-group">
                            <label>age</label>
                            <input class="form-control age" type="text" name="age" />
                            <span></span>
                            <span class="errormgs" style="display:none; color:red;">please enter the age</span>
                        </div>
                 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input class="form-control mobileno" type="text" name="mobile" />
                            <span class="errormgs" style="display:none; color:red;">please enter the mobile number</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control email" type="text" name="email" />
                            <span class="errormgs" style="display:none; color:red;">please enter the email</span>
                        </div>
                    </div>
                </div>
               <input class="btn btn-primary" type="submit" value="Proceed Payment" id="payment"/>
            </form>
            <hr>
        </div>
    </div>
    <div class="gap"></div>
</div>
{% endblock %} 




