{% load static from staticfiles %}
{% load i18n %}
<!-- <link rel="stylesheet" href="{% static "css/seat.css" %}">
<script src="{% static "js/jquery.js" %}"></script> -->
<div class="panel panel-default seatLayoutHolder">
    <div class="panel-body">
        
        
    {% if trip == 'oneway'%}
    <form action="{% url "bus.views.bus_booking" %}" method="POST">{% csrf_token %}
        <div class="row">
	<div class="col-md-7">
	{%else%}
	<div class="row">
	<div class="col-md-12">
	{%endif%}

        <h5 class="bold"><span class="num-circle">1</span> Select your seat</h5>
        <div class="drive"></div>
        <div id="seats_layout" style="margin:20px auto;padding:10px;position:relative;">
            <div class="upperDeck">
                <div class="deckLabel">
                    <div class="label"></div>
                </div>    
                <div class="seats">
                </div>
            </div>
            <div class="lowerDeck">
                <div class="deckLabel">
                    <div class="steeringWheel"></div>
                    <div class="label"></div>
                </div>
                <div class="seats">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row margin-left10">
            <div class="help-block pull-left widthauto margin-right20"><i class="seat seat_available "></i> Available Seat </div>
            <div class="help-block pull-left widthauto margin-right20"><i class="seat seat_selected"></i> Selected Seat</div>
            <div class="help-block pull-left widthauto margin-right20"><i class="seat seat_ladies"></i> Reserved Ladies Seat</div>
            <div class="help-block pull-left widthauto margin-right20"><i class="seat seat_booked"></i> Booked Seat</div>
            <div class="help-block pull-left widthauto margin-right20"><i class="seat seat_ladies_booked"></i> Booked Ladies Seat</div>
        </div>
    </div>
    {% if trip == 'oneway'%}
	<div class="col-md-5">
	{%else%}
	<div class="col-md-12">
	{%endif%}

        <h5 class="bold"><span class="num-circle">2</span> Choose Boarding Point</h5>
       
        <select style="width:300px;" required name="boarding_point_list" id="boarding_point_list">
        {% for b in result.1 %}
        <option value="{{b.BPName}}" data-address="">{{ b.BPLocation }}</option>
        {% endfor %}
        </select>
  
        <div style="width:350px;margin:0 auto;" id="address_boarding_points"></div>
        <div class="seats_no" style="height:50px;font-size:14px;margin:10px;">
<table>
<tr><td style="text-align:right;">Seat(s) &nbsp;:&nbsp;&nbsp;</td><td><span class="seats_no_selected" data-seatscsv="" data-seatfare="" data-seattype=""  data-seattypeid="" style="color:#d92525;word-spacing:2px;"></span><input type="hidden" name="seatNumbersList" value=""></td></tr>
<tr><td style="text-align:right;">Amount &nbsp;&nbsp;:&nbsp;&nbsp;</td><td><span class="rupee" style="color:#d92525;">Rs. </span><input type="hidden" name="totalfare" value="" ><span class="total_fare" style="color:#d92525;">0</span></td></tr>
</table>
<span class="seat_fare_list" style="display:none;"></span>
<input type="hidden" name="seatFare" value="">
<span class="seat_type_id_list" style="display:none;"></span>
<span class="seattype_list" style="display:none;"></span>
<input type="hidden" name="seatcount" value="">
</div>
    </div>
    {% if trip == 'oneway'%}
    <input type="submit" value="Book">
    </form>
    {%else%}
    <input type="button" value="Book" class="onward_book">
    {%endif%}
</div>    
        <script>
$(document).ready(function(e) {

	$('.onward_book').click(function(){
	var total=$('input[name=total_amount]').val();
	//alert(total);
	var travels=$(this).parents('.need_round').find('input[name=travels]').val();
    var bpoint=$(this).parents('.need_round').find('input[name=bpoint]').val();
    var dept_time=$(this).parents('.need_round').find('input[name=dept_time]').val();
    var arri_time=$(this).parents('.need_round').find('input[name=arri_time]').val();
    var bus_type=$(this).parents('.need_round').find('input[name=bus_type]').val();
    var route_type=$(this).parents('.need_round').find('input[name=route_type]').val();
    var selected_seat=$(this).parent().find('input[name=seatNumbersList]').val();
    var selected_seats_fare=$(this).parent().find('input[name=seatFare]').val();
    var fare=$(this).parent().find('input[name=totalfare]').val()
    var seat_count=$(this).parent().find('input[name=seatcount]').val()
    var selected_boarding_point=$(this).parent().find('#boarding_point_list').val()
    //alert($(this).parent().html());
	    if ($('input[name=seat_count_round]').val()== 0){
	    	if (route_type == 'onward'){
		    	$('.travels_onward').append(travels);
		    	$('input[name=travels_onward]').val(travels);
		    	$('.bpoint_onward').append(bpoint);
		    	$('input[name=bpoint_onward]').val(bpoint);
		    	$('.dept_time_onward').append(dept_time);
		    	$('input[name=dept_time_onward]').val(dept_time);
		    	$('.arri_time_onward').append(arri_time);
		    	$('input[name=arri_time_onward]').val(arri_time);
		    	$('.bus_type_onward').append(bus_type);
		    	$('input[name=bus_type_onward]').val(bus_type);
		    	$('.seats_onward').append(selected_seat);
		    	$('input[name=seats_onward]').val(selected_seat);
		    	$('.fare_onward').append(fare);
		    	$('input[name=fare_onward]').val(fare);
		    	$('input[name=seatFareOnward]').val(selected_seats_fare);
		    	$('input[name=OnwardBoardingPoint]').val(selected_boarding_point);
			}
			else
			{
				$('.travels_return').append(travels);
				$('input[name=travels_return]').val(travels);
		    	$('.bpoint_return').append(bpoint);
		    	$('input[name=bpoint_return]').val(bpoint);
		    	$('.dept_time_return').append(dept_time);
		    	$('input[name=dept_time_return]').val(dept_time);
		    	$('.arri_time_return').append(arri_time);
		    	$('input[name=arri_time_return]').val(arri_time);
		    	$('.bus_type_return').append(bus_type);
		    	$('input[name=bus_type_return]').val(bus_type);
		    	$('.seats_return').append(selected_seat);
		    	$('input[name=seats_return]').val(selected_seat);
		    	$('.fare_return').append(fare);
		    	$('input[name=fare_return]').val(fare);
		    	$('input[name=seatFareReturn]').val(selected_seats_fare);
		    	$('input[name=ReturnBoardingPoint]').val(selected_boarding_point);
			}
			var total_amount= parseInt(total)+parseInt(fare);
			//alert(total_amount);
			$('input[name=total_amount]').val(total_amount);
			$('input[name=seat_count_round]').val(seat_count);    
		}
		else if ($('input[name=seat_count_round]').val()== seat_count){
			if (route_type == 'onward'){
		    	$('.travels_onward').append(travels);
		    	$('input[name=travels_onward]').val(travels);
		    	$('.bpoint_onward').append(bpoint);
		    	$('input[name=bpoint_onward]').val(bpoint);
		    	$('.dept_time_onward').append(dept_time);
		    	$('input[name=dept_time_onward]').val(dept_time);
		    	$('.arri_time_onward').append(arri_time);
		    	$('input[name=arri_time_onward]').val(arri_time);
		    	$('.bus_type_onward').append(bus_type);
		    	$('input[name=bus_type_onward]').val(bus_type);
		    	$('.seats_onward').append(selected_seat);
		    	$('input[name=seats_onward]').val(selected_seat);
		    	$('.fare_onward').append(fare);
		    	$('input[name=fare_onward]').val(fare);
		    	$('input[name=seatFareOnward]').val(selected_seats_fare);
		    	$('input[name=OnwardBoardingPoint]').val(selected_boarding_point);
			}
			else
			{
				$('.travels_return').append(travels);
				$('input[name=travels_return]').val(travels);
		    	$('.bpoint_return').append(bpoint);
		    	$('input[name=bpoint_return]').val(bpoint);
		    	$('.dept_time_return').append(dept_time);
		    	$('input[name=dept_time_return]').val(dept_time);
		    	$('.arri_time_return').append(arri_time);
		    	$('input[name=arri_time_return]').val(arri_time);
		    	$('.bus_type_return').append(bus_type);
		    	$('input[name=bus_type_return]').val(bus_type);
		    	$('.seats_return').append(selected_seat);
		    	$('input[name=seats_return]').val(selected_seat);
		    	$('.fare_return').append(fare);
		    	$('input[name=fare_return]').val(fare);
		    	$('input[name=seatFareReturn]').val(selected_seats_fare);
		    	$('input[name=ReturnBoardingPoint]').val(selected_boarding_point);
			}
			var total_amount= parseInt(total)+parseInt(fare);
			//alert(total_amount);
			$('input[name=total_amount]').val(total_amount);
			$('input[name=seat_count_round]').val(seat_count);    

		}
		else{
			alert("You Should Slelect"+$('input[name=seat_count_round]').val()+" seats same");
		}
	
	$('.temp').show();
});
      var max_no_of_seat;
function getJson(url) {
    return JSON.parse($.ajax({
                 type: 'GET',
                 url: /seat_map/,
                 dataType: 'json',
                 data: {"skey":"{{skey}}"},
                 global: false,
                 async:false,
                 success: function(data) {
                     return data;
                 },
                 contentType: "application/json",
             }).responseText);
            }
 
var bus_seat = getJson();
var bus=[{"seatlayout":bus_seat.data.onwardSeats,"onwardflightsMaxC":bus_seat.data.onwardflightsMaxC,"onwardflightsMaxR":bus_seat.data.onwardflightsMaxR}]
var max_no_of_seat;
var u_rows,rows;
var u_cols,cols;
var count_seats=0,rowcol=[],rc=0;
var total_seats;
$.each(bus,function(index,v)
{
	console.log(v);
	rows=v.onwardflightsMaxR;
	cols=v.onwardflightsMaxC;
	total_seats=v.seatlayout.length;
	$.each(v.seatlayout, function(i_seatlayout,v_seatlayout)
	{
		if(v_seatlayout.SeatType=='Seater')
		{
			u_cols=0;	
		}
		else if(v_seatlayout.SeatType=='Sleeper')
		{
			u_cols=1;
		}
	});
	
	if(u_cols==0)
	{
		$(".upperDeck").hide();	
	}
	

})
	$.each(bus,function(i_seatno,v_seatno)
	{
		rowcol[rc]=v_seatno.SeatName;
		rc++;
	});
	
	var maxrowcol=Math.max.apply(Math,rowcol);
	var u_rows=maxrowcol;
	
	var k=0,aa='';
	if(u_cols==0)
	{
		aa+='<table class="lower">';
		for(var i=0;i<cols;++i)
		{
			aa += '<tr>';
			for(var j=0;j<rows;++j)
			{
				aa+='<td></td>';
			}
			aa+='</tr>';
		}
		aa+='</table>';
	}
	else
	{
		aa='<table class="upper">';
		for(var i=1;i<=u_rows;++i)
		{
			aa += '<tr>';
			for(var j=1;j<=u_cols;++j)
			{
			aa+='<td></td>';
			}
			aa+='</tr>';
		}
		aa+='</table>';
	
	}
	$("#seats_layout .lowerDeck .seats").append(aa);
	$.each(bus,function(index,value)
	{
		$.each(value.seatlayout, function(i_seatlayout,v_seatlayout)
		{
			if(v_seatlayout.SeatType=='Seater')
			{
				$("#seats_layout .lowerDeck .seats").find("tr:nth-child("+(parseInt(v_seatlayout.RowNo)+1)+")").children("td:nth-child("+(parseInt(v_seatlayout.ColumnNo)+1)+")").append('<div class="seat seat_available '+seat_status(v_seatlayout.seat_status)+'" title="Seat No.:'+v_seatlayout.SeatName+' | Fare: '+v_seatlayout.SeatFare+'" data-seatno="'+v_seatlayout.SeatName+'" data-seattype="'+v_seatlayout.SeatType+'" data-seattypeid="'+v_seatlayout.SeatStatus+'" data-seatfare="'+v_seatlayout.SeatFare+'"></div>');
			}
			else
			{
				$("#seats_layout .lowerDeck .seats").find("tr:nth-child("+(parseInt(v_seatlayout.RowNo)+1)+")").children("td:nth-child("+(parseInt(v_seatlayout.ColumnNo)+1)+")").append('<div class="sleeper available '+seat_status(v_seatlayout.seat_status)+'" title="Seat No.:'+v_seatlayout.SeatName+' | Fare: '+v_seatlayout.SeatFare+'" data-seatno="'+v_seatlayout.SeatName+'" data-seattype="'+v_seatlayout.SeatType+'" data-seattypeid="'+v_seatlayout.SeatStatus+'" data-seatfare="'+v_seatlayout.SeatFare+'"></div>');
			}
		});
	});
	function seat_status(status)
	{
		console.log(status);
		if(status=='availableSeat')
		{
			return 'seat_available';
		}
		else if(status=='bookedSeat')
		{
			return 'seat_booked';
		}
		else if(status=='availableLadiesSeat')
		{
			return 'seat_ladies';
		}
		else if(status=='bookedLadiesSeat')
		{
			return 'seat_ladies_booked';
		}
		else if(status=='availableLadiesSleeper')
		{
			return 'sleeper_ladies';
		}
		else if(status=='bookedLadiesSleeper')
		{
			return 'sleeper_ladies_booked';
		}
		
	}	
	{% if trip == 'oneway' %}
	max_no_of_seat='6';//total_seats;//v.seatlayout.maxNumberOfSeats;
	{% else %}
	var s_count=$('input[name=seat_count_round]').val();
	if (parseInt(s_count)== 0){
		max_no_of_seat='6';
	}
	else{
		max_no_of_seat=$('input[name=seat_count_round]').val();
	}
	{% endif %}
    var clicked=[],totalfare=[],fare=0,seattypeid_list=[],seattype_list=[];
	if(u_cols==0)
	{
	$(".seats td").click(function(e) {
		
		if($(this).children("div").hasClass("seat_selected"))
		{
        	$(this).children(".seat").removeClass("seat_selected");
			var seatno=$(this).children(".seat").data("seatno");
			var seatfare=$(this).children(".seat").data("seatfare");
			var seattypeid=$(this).children(".seat").data("seattypeid");
			var seattype=$(this).children(".seat").data("seattype");
		
			//clicked.pop(seatno+',');
			var index=clicked.indexOf(seatno);
			if(index!=-1)
			{
			clicked.splice(index,1);
			}
			var index1=totalfare.indexOf(seatfare);
			if(index1!=-1)
			{
			totalfare.splice(index1,1);
			
			}
			fare=0;
			for(var i=0;i<totalfare.length;i++){
				fare+=totalfare[i];	
			}
			
			if(seattypeid_list.indexOf(seattypeid)!=-1)
			{
			seattypeid_list.splice(seattypeid,1);
			}


			if(seattype_list.indexOf(seattype)!=-1)
			{
			seattype_list.splice(seattype,1);
			}

			
			$(".seats_no_selected").text(clicked);
			$(".total_fare").text(fare);
			$("input[name=totalfare]").val(fare);
			$(".seat_fare_list").text(totalfare);
			var seat_fare_list=$(".seat_fare_list").text();
			seat_fare_list=seat_fare_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seatfare",seat_fare_list);
			$("input[name=seatFare]").val(seat_fare_list);
			
			$(".seat_type_id_list").text(seattypeid_list);
			var seat_type_id_list=$(".seat_type_id_list").text();
			seat_type_id_list=seat_type_id_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattypeid",seat_type_id_list);
			$("input[name=seatTypeIdsList]").val(seat_type_id_list);
			
			$(".seattype_list").text(seattype_list);
			var seat_type_list=$(".seattype_list").text();
			seat_type_list=seat_type_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattype",seat_type_list);
			$("input[name=seatTypesList]").val(seat_type_list);
			
			
			var a=$(".seats_no_selected").text();
			var seats_csv=a.replace(/,/g,",");
			
			$(".seats_no_selected").attr("data-seatscsv",seats_csv);
			$("input[name=seatNumbersList]").val(seats_csv);
		}
		else if($(this).children("div").hasClass("seat_booked"))
		{
			alert("The seat already booked..");
			e.preventDefault();
		}
		else if(!$(this).children("div").hasClass("seat")){
			e.preventDefault();
		}
		
		else
		{
		if(clicked.length<max_no_of_seat){
			
			$(this).children(".seat").addClass("seat_selected");	
			var seatno=$(this).children(".seat").data("seatno");
			var seatfare=$(this).children(".seat").data("seatfare");
			var seattypeid=$(this).children(".seat").data("seattypeid");
			var seattype=$(this).children(".seat").data("seattype");
			seattypeid_list.push(seattypeid);
			seattype_list.push(seattype);
			totalfare.push(seatfare);
			clicked.push(seatno);
			fare=0;
			for(var i=0;i<totalfare.length;i++){
				fare+=totalfare[i];	
				//alert(totalfare[i]);
			}
			//alert(fare);
			$(".seats_no_selected").text(clicked);
			$(".total_fare").text(fare);
			$("input[name=totalfare]").val(fare);
			$(".seat_fare_list").text(totalfare);
			var seat_fare_list=$(".seat_fare_list").text();
			seat_fare_list=seat_fare_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seatfare",seat_fare_list);
			$("input[name=seatFare]").val(seat_fare_list);
			
			$(".seat_type_id_list").text(seattypeid_list);
			var seat_type_id_list=$(".seat_type_id_list").text();
			seat_type_id_list=seat_type_id_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattypeid",seat_type_id_list);
			$("input[name=seatTypeIdsList]").val(seat_type_id_list);
			
			$(".seattype_list").text(seattype_list);
			var seat_type_list=$(".seattype_list").text();
			seat_type_list=seat_type_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattype",seat_type_list);
			$("input[name=seatTypesList]").val(seat_type_list);
			
			
			var a=$(".seats_no_selected").text();
			var seats_csv=a.replace(/,/g,",");
			
			$(".seats_no_selected").attr("data-seatscsv",seats_csv);
			$("input[name=seatNumbersList]").val(seats_csv);
		}
		else{
			{% if trip == 'oneway' %}
			alert("Max. of 6 seats .");	
			{%else%}
			if ($('input[name=seat_count_round]').val()==0){
				alert("Max. of 6 seats .");	
			}
			else{
				alert("You should select "+$('input[name=seat_count_round]').val()+" seats same.");

			}
			{% endif %}
		}
		}
    $("input[name=seatcount]").val(clicked.length);
		
		
    });
	}
	
	else
	{
	$(".lower td,.upper td").click(function(e) {
		
		
		if($(this).children("div").hasClass("sleeper_selected"))
		{
        	$(this).children(".sleeper").removeClass("sleeper_selected");
			var seatno=$(this).children(".sleeper").data("seatno");
			var seatfare=$(this).children(".sleeper").data("seatfare");
			var seattypeid=$(this).children(".sleeper").data("seattypeid");
			var seattype=$(this).children(".sleeper").data("seattype");
		
			//clicked.pop(seatno+',');
			var index=clicked.indexOf(seatno);
			if(index!=-1)
			{
			clicked.splice(index,1);
			}
			var index1=totalfare.indexOf(seatfare);
			if(index1!=-1)
			{
			totalfare.splice(index1,1);
			}
			fare=0;
			for(var i=0;i<totalfare.length;i++){
				fare+=totalfare[i];	
			}
			
			if(seattypeid_list.indexOf(seattypeid)!=-1)
			{
			seattypeid_list.splice(seattypeid,1);
			}

			if(seattype_list.indexOf(seattype)!=-1)
			{
			seattype_list.splice(seattype,1);
			}

			
			$(".seats_no_selected").text(clicked);
			$(".total_fare").text(fare);
			$(".seat_fare_list").text(totalfare);
			var seat_fare_list=$(".seat_fare_list").text();
			seat_fare_list=seat_fare_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seatfare",seat_fare_list);
			$("input[name=seatFare]").val(seat_fare_list);
			
			$(".seat_type_id_list").text(seattypeid_list);
			var seat_type_id_list=$(".seat_type_id_list").text();
			seat_type_id_list=seat_type_id_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattypeid",seat_type_id_list);
			$("input[name=seatTypeIdsList]").val(seat_type_id_list);
			
			$(".seattype_list").text(seattype_list);
			var seat_type_list=$(".seattype_list").text();
			seat_type_list=seat_type_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattype",seat_type_list);
			$("input[name=seatTypesList]").val(seat_type_list);
			
			
			var a=$(".seats_no_selected").text();
			var seats_csv=a.replace(/,/g,",");
			
			$(".seats_no_selected").attr("data-seatscsv",seats_csv);
			$("input[name=seatNumbersList]").val(seats_csv);
		}
		else if($(this).children("div").hasClass("seat_selected"))
		{
        	$(this).children(".seat").removeClass("seat_selected");
			var seatno=$(this).children(".seat").data("seatno");
			var seatfare=$(this).children(".seat").data("seatfare");
			var seattypeid=$(this).children(".seat").data("seattypeid");
			var seattype=$(this).children(".seat").data("seattype");
		
			//clicked.pop(seatno+',');
			var index=clicked.indexOf(seatno);
			if(index!=-1)
			{
			clicked.splice(index,1);
			}
			var index1=totalfare.indexOf(seatfare);
			if(index1!=-1)
			{
			totalfare.splice(index1,1);
			}
			fare=0;
			for(var i=0;i<totalfare.length;i++){
				fare+=totalfare[i];	
			}
			
			if(seattypeid_list.indexOf(seattypeid)!=-1)
			{
			seattypeid_list.splice(seattypeid,1);
			}

			if(seattype_list.indexOf(seattype)!=-1)
			{
			seattype_list.splice(seattype,1);
			}

			

			$(".seats_no_selected").text(clicked);
			$(".total_fare").text(fare);
			$(".seat_fare_list").text(totalfare);
			var seat_fare_list=$(".seat_fare_list").text();
			seat_fare_list=seat_fare_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seatfare",seat_fare_list);
			$("input[name=seatFare]").val(seat_fare_list);
			
			$(".seat_type_id_list").text(seattypeid_list);
			var seat_type_id_list=$(".seat_type_id_list").text();
			seat_type_id_list=seat_type_id_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattypeid",seat_type_id_list);
			$("input[name=seatTypeIdsList]").val(seat_type_id_list);
			
			$(".seattype_list").text(seattype_list);
			var seat_type_list=$(".seattype_list").text();
			seat_type_list=seat_type_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattype",seat_type_list);
			$("input[name=seatTypesList]").val(seat_type_list);
			
			
			var a=$(".seats_no_selected").text();
			var seats_csv=a.replace(/,/g,",");
			
			$(".seats_no_selected").attr("data-seatscsv",seats_csv);
			$("input[name=seatNumbersList]").val(seats_csv);
		}
		else if($(this).children("div").hasClass("sleeper_booked")||$(this).children("div").hasClass("seat_booked"))
		{
			alert("The seat already booked..");
			e.preventDefault();
		}
		else if(!$(this).children("div").hasClass("sleeper")&&!$(this).children("div").hasClass("seat")){
			e.preventDefault();
		}
		else if($(this).children("div").hasClass("seat_available")||$(this).children("div").hasClass("seat_ladies"))
		{
			if(clicked.length<max_no_of_seat){
			$(this).children(".seat").addClass("seat_selected");	
			var seatno=$(this).children(".seat").data("seatno");
			var seatfare=$(this).children(".seat").data("seatfare");
			var seattypeid=$(this).children(".seat").data("seattypeid");
			var seattype=$(this).children(".seat").data("seattype");
			seattypeid_list.push(seattypeid);
			seattype_list.push(seattype);
			totalfare.push(seatfare);
			clicked.push(seatno);
			fare=0;
			for(var i=0;i<totalfare.length;i++){
				fare+=totalfare[i];	
				//alert(totalfare[i]);
			}
			//alert(fare);
			$(".seats_no_selected").text(clicked);
			$(".total_fare").text(fare);
			$("input[name=totalfare]").val(fare);
			$(".seat_fare_list").text(totalfare);
			var seat_fare_list=$(".seat_fare_list").text();
			seat_fare_list=seat_fare_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seatfare",seat_fare_list);
			$("input[name=seatFare]").val(seat_fare_list);
			
			$(".seat_type_id_list").text(seattypeid_list);
			var seat_type_id_list=$(".seat_type_id_list").text();
			seat_type_id_list=seat_type_id_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattypeid",seat_type_id_list);
			$("input[name=seatTypeIdsList]").val(seat_type_id_list);
			
			$(".seattype_list").text(seattype_list);
			var seat_type_list=$(".seattype_list").text();
			seat_type_list=seat_type_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattype",seat_type_list);
			$("input[name=seatTypesList]").val(seat_type_list);
			
			
			var a=$(".seats_no_selected").text();
			var seats_csv=a.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seatscsv",seats_csv);
			$("input[name=seatNumbersList]").val(seats_csv);
		}
		else{
			alert("Max. of 6 seats .");	
		}
		}
		else
		{
		if(clicked.length<max_no_of_seat){
			$(this).children(".sleeper").addClass("sleeper_selected");	
			var seatno=$(this).children(".sleeper").data("seatno");
			var seatfare=$(this).children(".sleeper").data("seatfare");
			var seattypeid=$(this).children(".sleeper").data("seattypeid");
			var seattype=$(this).children(".sleeper").data("seattype");
			seattypeid_list.push(seattypeid);
			seattype_list.push(seattype);
			totalfare.push(seatfare);
			clicked.push(seatno);
			fare=0;
			for(var i=0;i<totalfare.length;i++){
				fare+=totalfare[i];	
				//alert(totalfare[i]);
			}
			//alert(fare);
			$(".seats_no_selected").text(clicked);
			$(".total_fare").text(fare);
			$("input[name=totalfare]").val(fare);
			$(".seat_fare_list").text(totalfare);
			var seat_fare_list=$(".seat_fare_list").text();
			seat_fare_list=seat_fare_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seatfare",seat_fare_list);
			$("input[name=seatFare]").val(seat_fare_list);
			
			$(".seat_type_id_list").text(seattypeid_list);
			var seat_type_id_list=$(".seat_type_id_list").text();
			seat_type_id_list=seat_type_id_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattypeid",seat_type_id_list);
			$("input[name=seatTypeIdsList]").val(seat_type_id_list);
			
			$(".seattype_list").text(seattype_list);
			var seat_type_list=$(".seattype_list").text();
			seat_type_list=seat_type_list.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seattype",seat_type_list);
			$("input[name=seatTypesList]").val(seat_type_list);
			
			
			var a=$(".seats_no_selected").text();
			var seats_csv=a.replace(/,/g,",");
			$(".seats_no_selected").attr("data-seatscsv",seats_csv);
			$("input[name=seatNumbersList]").val(seats_csv);
		}
		else{
			alert("Max. of 6 seats .");	
		}
		}
		
		
    });
	}
	$(".seat_booked").click(function(e) {
      //  alert("The seat is already booked..");
		e.preventDefault();
    });
	
});
</script>
		<script>
$(document).ready(function(e) {
   $("#boarding_point_list").change(function(e) {
       var address=$(this).find("option:selected").data("address");
	   if($(this).find("option:selected").val()==""){
		   //$("#address_boarding_points").html("<p></p>");
	   }
	   else{
		   if(address!=""){
	  //$("#address_boarding_points").html("<p style='text-align:center;padding:5px 20px;background:#ccc;width:auto;color:#fff;'><span class='glyphicons google_maps'></span>"+address+"</p>");
		   }
		   else{
			  // $("#address_boarding_points").html("<p></p>");   
		   }
	   }
	   $("input[name=boardingPointID]").val($(this).val());
	   $("input[name=boardingPointName]").val($(this).find("option:selected").text());
	  
    });
});
</script>
<script>
$(document).ready(function(e) {
    $(".continue").click(function(e){
		
		if($(".seats_no_selected").text()==""){
				alert("Select Min. one seat.");
				e.preventDefault();	
		}
	});
});
