{% extends 'v2/base_inner_v2.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content %}
<section class="search-section">
    <div class="container">
        <div class="row position_r">
            <div class="col-md-3">
                <a class="logo" href="/" title="="oozaaoo></a>
                <div class="clear_both"></div>
            </div>
             <div class="col-md-5">
                <!--    <div class="row">
                        <div class="col-md-3 marginbottom10">
                              <ul class="nav navbar-nav pull-right">
                                <li class="dropdown">
                                    <span class="dropdown-toggle bold cursor-pointer top10" data-toggle="dropdown">Hotel <span class="caret"></span></span>
                                    <ul class="dropdown-menu" aria-labelledby="themes">
                                      <li><a href="#">Flights</a></li>
                                      <li><a href="#">Cars</a></li>
                                     </ul>
                                </li>
                              </ul>
                        </div>
                        <div class="col-md-7">
                             <div class="input-group">
                                 <input type="text" class="form-control paddingleftright10" value="Pondicherry, Puducherry" placeholder="Search here" /> 
                            </div>
                        </div>
                    </div>-->
            </div> 
            <div class="col-md-4 bottom10 right0">
            {% if request.user.is_authenticated %}
                        <div class="top-user-area clearfix">
                            <a href="/">{{request.user.first_name}}</a>
                            <a href="/v2/logout/">Logout</a>
                            <a href="/v2/profile">Myprofile</a>
                            <!-- <a href="/mybooking/">MyBooking</a> -->
                        </div>
                    {% else %}
                        <div class="top-user-area clearfix">
                            <a href="/v2/login">Signin /</a>
                            <a href="/v2/register"> Signup</a>
                            <!-- <a href="/mybooking/">MyBooking</a> -->

                        </div>
                    {% endif %}
            </div>
        </div>
    </div><hr/>
    <div class="container contactus">
        <img src="{% static "v2/img/contact.jpg" %}" width="100%">
        <div class="content">
       <h3 class="text-center">Registered Office: # 7, Chandrasekaran .Street, Iyyanar Nagar, Pondicherry – 605 013. <br/>Ph: 0413- 43 00 001/3/8</h3>


        <h4 class="text-center">care@oozaaoo.com</h4>
        </div>

        
    </div>
 {% endblock %}