{% extends 'v2/home_base_v2.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content %}
<div class="bus-payment">
<div class="container sign-in">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 marginbottom10">
                    <a class="logo_home"></a>                      <div class="row">
                        <div class="col-md-3 hidden-xs"></div>
                        <div class="col-md-6 z-index1 padding5-40">
                            <div class="panel panel-lightpurple">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">
                                        Sign up for free!
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <p class="padding20 text-center bold">
                                        Sign up now and receive exclusive offers with huge discounts from us!
                                    </p>
                                    <p>
                                        {% if request.REQUEST.error %}
                                            {%for message in messages%}
                                                <h4 class="text-center text-danger">{{message}}</h4>
                                            {%endfor%}
                                        {%endif%}
                                    </p>
                                    <p>
                                        <h4 class="text-center text-info">
                                        {{message}}
                                        </h4>
                                    </p>
                                    <div class="sign-in-form">
                                        <form action="{% url "hotels.views.registration_v2" %}" method="post">
                                            {% csrf_token %}
                                        <div class="marginbottom10">
                                            <input type="text" class="form-control" name="username" placeholder="Name*" />
                                        </div>
                                         <div class="marginbottom10">
                                            <input type="email" class="form-control" name="email" placeholder="Email*" />
                                        </div>
                                        <div class="marginbottom10">
                                            <input type="password" class="form-control" name="password" placeholder="Create Password*" />
                                        </div>
                                         <div class="marginbottom10">
                                            <input class="form-control" placeholder="Mobile no" type="text" name="phone" />
                                        </div>
                                        <div class="input-group dob marginbottom10">                                          
                                            <input class="form-control dob text-center" id="datepicker5" name="dob" type="text" placeholder="Date of Birth" value="" /><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                
                                            <input type="hidden" value="{% if request.REQUEST.next %}{{ request.REQUEST.next }}{% else %}{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/{% endif %}{% endif %}" name="next" />
                                        <div>
                                            <button class="btn btn-primary width100" type="submit">Create new account</button>
                                        </div> 
                                            <p> By clicking on CREATE NEW ACCOUNT,you  agree to <a href="/v2/terms_and_condition/">Terms &amp; Conditions</a> and <a href="/v2/privacy/">Privacy Policy.</a></p>
                                            
                                        </form>
                                    </div>
                                </div>
                                <div class="panel-footer bg-white">
                                    <p>Already have an account? <a href="/v2/login/">Sign in</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 hidden-xs"></div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
</div><!-- bg-lightgrey bus-payment -->
 {% endblock %}