{% load static from staticfiles %}
{% load i18n %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 	
<title>Hotel Search Result</title>
<meta name="keywords" content="Pondicherry Hotels" />
<meta name="description" content="The Search results for pondicherry hotels." />
<meta http-equiv="Pragma" content="no-cache" />
<link rel="stylesheet" href="{% static "v2/css/jquery-ui-1.10.2.custom.min.css" %}">
<link rel="stylesheet" href="{% static "v2/css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "v2/css/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "v2/css/style.css" %}">
<link rel="stylesheet" href="{% static "v2/css/bootstrap-slider.css" %}">
<link rel="stylesheet" href="{% static "v2/css/seat.css" %}">

<link rel="stylesheet" href="{% static "v2/css/ionicons.min.css" %}">
<link rel="stylesheet" href="{% static "v2/css/materialdesignicons.css" %}">


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">        
<script src="{% static "v2/js/jquery-1.9.1.js" %}"></script>
<script src="{% static "v2/js/nicescroll.js" %}"></script>
<script src="{% static "v2/js/jquery-ui.min.js" %}"></script>
<script src="{% static "v2/js/jquery.ui.slider.js" %}"></script>  
<script src="{% static "v2/js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "v2/js/bootstrap-timepicker.js" %}"></script>
<script src="{% static "v2/js/filter.js" %}"></script>


<body>

    {% block content %} {% endblock %}
     <div class="container">   
          <div class="row">
            	<div id="menu" class="col-md-12">     
                  <ul class="fl">
                      <li><a href="/v2/terms_and_condition/"><p class="text-muted">Terms and Conditions</p></a></li>
                      <li><a href="/v2/privacy/"><p class="text-muted">Privacy Policy</p></a></li>
                      <li><a href="#"><p class="text-muted">Your Bookings</p></a></li>
                      <li><a href="#"><p class="text-muted">FAQ's</p></a></li>
                      <li><a href="#"><p class="text-muted">Contact Us</p></a></li>
                      <li><a href="#"><p class="text-muted">Review your Bookings</p></a></li>

                  </ul>
                  <ul class="fr sociallinks">
                      <li class="text-right"><h2><i class="fa fa-facebook-square text-muted"></i></h2></li>
                      <li class="text-right"><h2><i class="fa fa-twitter text-muted"></i></h2></li>
                      <li class="text-right"><h2><i class="fa fa-google-plus text-muted"></i></h2></li>
                  </ul>
                  
              </div><div class="clear_both"></div>
              <div id="menu1" class="col-md-12">
                  <ul>
                      <li><a href="#"><p class="text-muted">&#169; 2015 oozaaoo.com, All rights reserved</p></a></li>
                  </ul>
              </div>
            
          </div>
      </div> 
         
    </section>
 
  <script type="text/javascript" src="{% static "v2/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "v2/js/bootstrap-slider.js" %}"></script>
 
  <script src="{% static "v2/js/custom.js" %}"></script>
</body>
</html>
