{% load static from staticfiles %}
{% load i18n %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 	
<title>Hotel Search Result</title>
<meta name="keywords" content="Pondicherry Hotels" />
<meta name="description" content="The Search results for pondicherry hotels." />
<meta http-equiv="Pragma" content="no-cache" />
<link rel="stylesheet" href="{% static "v2/css/jquery-ui-1.10.2.custom.min.css" %}">
<link rel="stylesheet" href="{% static "v2/css/bootstrap.css" %}">
<link rel="stylesheet" href="{% static "v2/css/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "v2/css/style.css" %}">
<link rel="stylesheet" href="{% static "v2/css/bootstrap-slider.css" %}">
<link rel="stylesheet" href="{% static "v2/css/seat.css" %}">

<link rel="stylesheet" href="{% static "v2/css/ionicons.min.css" %}">
<link rel="stylesheet" href="{% static "v2/css/materialdesignicons.css" %}">


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">        
<script src="{% static "v2/js/jquery-1.9.1.js" %}"></script>
<script src="{% static "v2/js/nicescroll.js" %}"></script>
<script src="{% static "v2/js/jquery-ui.min.js" %}"></script>
<script src="{% static "v2/js/jquery.ui.slider.js" %}"></script>  
<script src="{% static "v2/js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "v2/js/bootstrap-timepicker.js" %}"></script>
<script src="{% static "v2/js/filter.js" %}"></script>


<body>

    {% block content %} {% endblock %}
     <div class="container">   
          <div class="row">
            	<div class="col-md-6">
                	<h3 class="footer-content">
                    	<span class="size12">Have a questions?</span><br/>
                        <h4>Call us: 0413 - 3205010</h4>
                    </h3>
                </div>
                <div class="col-md-6"><br><br>
                	<h4 class="text-right"><i class="fa fa-check-circle light-purple"></i> Book last minute <i class="fa fa-check-circle light-purple marginleft20px"></i> Book faster</h4>
                </div>
            </div>
      </div> 
         
    </section>
 
  <script type="text/javascript" src="{% static "v2/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "v2/js/bootstrap-slider.js" %}"></script>
 
  <script src="{% static "v2/js/custom.js" %}"></script>
</body>
</html>
