{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Oozaaoo leisures</title>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- GOOGLE FONTS -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'> -->
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/icomoon.css" %} ">
    <link rel="stylesheet" href="{% static "css/styles.css" %} ">
    <link rel="stylesheet" href="{% static "css/mystyles.css" %}">
    <script src="{% static "js/modernizr.js" %}"></script>
</head>

<body>
    <div class="global-wrap">
        <header id="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="logo" href="index.html">
                                <img src="{{ STATIC_URL }}img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </div>
                        <div class="col-md-3 col-md-offset-2">
                            <form class="main-header-search">
                                <div class="form-group form-group-icon-left">
                                    <i class="fa fa-search input-icon"></i>
                                    <input type="text" class="form-control">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                        {% if request.user.is_authenticated %}
                        <div class="top-user-area clearfix">
                        <a href="/">{{request.user.first_name}}</a>
                        <a href="/logout/">Logout</a>
                        <a href="/myprofile/">Myprofile</a>
                        </div>
                        {% else %}
                        <div class="top-user-area clearfix">
                               <a href="/register/">Login</a>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="nav">
                    <ul class="slimmenu" id="slimmenu">
                        <li class="active"><a href="{%url "hotels.views.home" %}">Home</a>
                        </li>
                        <li><a href="hotels.html">Hotels</a>
                            <ul>
                                <li><a href="/bookingstatus/">Booking status</a>
                                </li>
                                <li><a href="hotel-payment.html">Cancel Booking</a>
                                
                                </li>
                                <li><a href="hotel-search.html">Booking details</a>
                                    
                                </li>
                                <li><a href="hotels.html">Refund status</a>  
                                </li>
                            </ul>
                        </li>
                        <li><a href="flights.html">Bus</a>
                            <ul>
                                <li><a href="/busbookstatus/">Booking status</a>
                                    
                                </li>
                                <li><a href="/buscancelticket/">Cancel Ticket</a>
                        
                                </li>
                
                            </ul>
                        </li> 
                    </ul>
                </div>
            </div>
        </header>
        {% block content %}
        
        {% endblock %}
        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <a class="logo" href="index.html">
                            <img src="{{ STATIC_URL }}img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                        <p class="mb20">Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
                        <ul class="list list-horizontal list-space">
                            <li>
                                <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>Newsletter</h4>
                        <form>
                            <label>Enter your E-mail Address</label>
                            <input type="text" class="form-control">
                            <p class="mt5"><small>*We Never Send Spam</small>
                            </p>
                            <input type="submit" class="btn btn-primary" value="Subscribe">
                        </form>
                    </div>
                    <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="#">About US</a>
                            </li>
                            <li><a href="#">Press Centre</a>
                            </li>
                            <li><a href="#">Best Price Guarantee</a>
                            </li>
                            <li><a href="#">Travel News</a>
                            </li>
                            <li><a href="#">Jobs</a>
                            </li>
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                            <li><a href="#">Feedback</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Have Questions?</h4>
                        <h4 class="text-color">+1-202-555-0173</h4>
                        <h4><a href="#" class="text-color">support@traveler.com</a></h4>
                        <p>24/7 Dedicated Customer Support</p>
                    </div>

                </div>
            </div>
        </footer>

        <script src="{% static "js/jquery.js" %}"></script>        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">        
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  

        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/slimmenu.js" %}"></script>
        <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
        <script src="{% static "js/bootstrap-timepicker.js" %}"></script>
        <script src="{% static "js/nicescroll.js" %}"></script>
        <script src="{% static "js/dropit.js" %}"></script>
        <script src="{% static "js/ionrangeslider.js" %}"></script>
        <script src="{% static "js/icheck.js" %}"></script>
        <!--script src="{% static "js/fotorama.js" %}"></script-->
        <!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script-->
        <script src="{% static "js/typeahead.js" %}"></script>
        <script src="{% static "js/card-payment.js" %}"></script>
        <script src="{% static "js/magnific.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>
        <script src="{% static "js/fitvids.js" %}"></script>
        <script src="{% static "js/tweet.js" %}"></script>
        <script src="{% static "js/countdown.js" %}"></script>
        <script src="{% static "js/gridrotator.js" %}"></script>
        <script src="{% static "js/custom.js" %}"></script>
    </div>
</body>
</html>

