{% load static from staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelZ</title>

    <link href="{% static "homepage/dist/css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "homepage/assets/css/custom.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "homepage/assets/css/intro.css" %}" rel="stylesheet" media="screen"> 
    <link rel="stylesheet" type="text/css" href="{% static "homepage/assets/css/font-awesome.css" media="screen" %}" />
    <link rel="stylesheet" href= "{% static "homepage/assets/css/jquery-ui.css" %}" />   
    <script src= "{% static "homepage/assets/js/jquery.v2.0.3.js" %}"></script>
   
  </head>
  <body>
    <div class="bluediv">
        <div class="loader"><a href="home.html"><img src="{{ STATIC_URL }}homepage/images/logo-intro.png" alt="" /></a><br>
        <img src="{{ STATIC_URL }}homepage/images/loading.gif" alt="" /></div>
        
        <a href="home.html"><img class="logointro" src="{{ STATIC_URL }}homepage/images/logo-intro.png" alt="" /></a>
        
        <div class="tabscontainer">
            <ul class='tabs'>
                <li class="b1" onclick='mySelectUpdate(); changeAnimation1();'><a href='#tab1'><div class="anihome"><img src="{{ STATIC_URL }} homepage/images/spacer.png" alt=""/>Home</div></a></li>
                <li class="b2" onclick='mySelectUpdate(); changeAnimation2();'><a href='#tab2'><div class="anihotels"><img src="{{ STATIC_URL }}homepage/images/spacer.png" alt=""/>Hotels</div></a></li>
                <!-- <li class="b3" onclick='mySelectUpdate(); changeAnimation3();'><a href='#tab3'><div class="aniflights"><img src="{{ STATIC_URL }}images/spacer.png" alt=""/>Flights</div></a></li> -->
                <li class="b4" onclick='mySelectUpdate(); changeAnimation4();'><a href='#tab4'><div class="anibuses"><img src="{{ STATIC_URL }}homepage/images/spacer.png" alt=""/>Buses</div></a></li>
               <!--  <li class="b5" onclick='mySelectUpdate(); changeAnimation5();'><a href='#tab5'><div class="anicars"><img src="{{ STATIC_URL }}images/spacer.png" alt=""/>Cars</div></a></li>
                <li class="b6" onclick='mySelectUpdate(); changeAnimation3();'><a href='#tab6'><div class="anicruises"><img src="{{ STATIC_URL }}images/spacer.png" alt=""/>Cruises</div></a></li> -->
            </ul>
        </div>
        
        <div class="social">
            <a href="#" ><img src="{{ STATIC_URL }}homepage/images/icon-facebook.png" alt=""/></a>
            <a href="#" ><img src="{{ STATIC_URL }}homepage/images/icon-twitter.png" alt=""/></a>
            <a href="#" ><img src="{{ STATIC_URL }}homepage/images/icon-gplus.png" alt=""/></a>
            <a href="#" ><img src="{{ STATIC_URL }}homepage/images/icon-youtube.png" alt=""/></a>
            <br/><br/>
            &copy; 2015 |<a href="#">TravelZ</a><br/>All rights reserved.
        </div>
    </div>
    <div class="whitediv">
        <img class="couple" src="{{ STATIC_URL }}homepage/images/couple.png" alt="" />
        <img class="girl" src="{{ STATIC_URL }}homepage/images/girl.png" alt="" />
        <img class="girl2" src="{{ STATIC_URL }}homepage/images/girl.png" alt="" />
        <img class="girl-car" src="{{ STATIC_URL }}homepage/images/girl.png" alt="" />
        <img class="car" src="{{ STATIC_URL }}homepage/images/girl.png" alt="" />
        <img class="girl-cruise" src="{{ STATIC_URL }}homepage/images/girl.png" alt="" />
        <div class="palmbgcontainer"></div>
        <img class="dubai" src="{{ STATIC_URL }}homepage/images/girl.jpg" alt="" />
        <img class="plane" src="{{ STATIC_URL }}homepage/images/girl.jpg" alt="" />
        <img class="road" src="{{ STATIC_URL }}homepage/images/girl.jpg" alt="" />
        <img class="cruise" src="{{ STATIC_URL }}homepage/images/girl.jpg" alt="" />

        <div id="tab1">
        
            <div class="w100percent">
                <div class="wh100percent textleft">
                    <h2 class="opensans size40 font_calibri red"><b>Welcome</b></h2>
                    <p class="size18 font_calibri bold">Travel, through its subsidiaries, provides travel services all over the world. The Company is an airline ticket consolidator that offers ticketing, hotel and accommodation arrangements, tour packages, incentive tours, car rental and cruises. Travel primarily serves the wholesale business and corporate client markets.</p>
                </div>
            </div>
        </div>    
        <div id="tab2">
        <form action="{% url "hotels.views.gethotellist_v2" %}" method="post" name="home_search" class="hotel_search" id="myform">
                                            {% csrf_token %}
            <span class="opensans size18">Choose your destination</span>
            <!-- <input type="text" class="form-control" placeholder="Greece"> -->
            <input class="typeahead form-control" placeholder="select your city" type="text" id="filterkeywordtxt" value=""  />
             <div class="error_mgs" style="display:none; color:red;">Enter the Destination</div>
             <input class="typeahead form-control" placeholder="City, Airport, Point of Interest or U.S. Zip Code" type="hidden" id="filterkeyword" value="" name="filterkeyword" />
            
            <br/>
            
            <div class="w50percent">
                <div class="wh90percent textleft">
                <div class="input-daterange" data-date-format="M d, D">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                    <label>Check-in</label>
                    <input class="form-control" name="start" type="text"placeholder="yyyy/mm/dd" />
                </div>
                    <!-- <span class="opensans size13"><b>Check in date</b></span>
                    <input type="text" name="start" class="form-control mySelectCalendar2" id="datepicker7" placeholder="mm/dd/yyyy"/> -->
                    
                    <div class="error_mgs" style="display:none; color:red;">Enter the Check in date</div>
                </div>
                </div>
            </div>

            <div class="w50percentlast">
                <div class="wh90percent textleft right">
                <div class="input-daterange" data-date-format="M d, D">
                <div class="form-group form-group-lg form-group-icon-left"><i class="fa fa-calendar input-icon input-icon-highlight"></i>
                <label>Check-out</label>
                <input class="form-control" name="end" type="text" placeholder="yyyy/mm/dd" />
                                                        </div>
                    <!-- <span class="opensans size13"><b>Check out date</b></span>
                    <input type="text" name="end" class="form-control mySelectCalendar2" id="datepicker8" placeholder="mm/dd/yyyy"/> -->
                    <div class="error_mgs" style="display:none; color:red;">Enter the Check out date</div>
                </div>
                </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="room1 rooms" >
        <div class="w50percent">
          <div class="wh90percent textleft">
            <span class="opensans size13"><b>ROOM 1</b></span><br/>
            
            <div class="addroom1 block"><a href="#room2" onclick="addroom2()" class="grey">+ Add room</a></div>
          </div>
        </div>

        <div class="w50percentlast">  
          <div class="wh90percent textleft right">
            <div class="w50percent">
              <div class="wh90percent textleft left">
                <span class="opensans size13"><b>Adult</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option selected>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>              
            <div class="w50percentlast">
              <div class="wh90percent textleft right">
              <span class="opensans size13"><b>Child</b></span>
                <select class="form-control mySelectBoxClass child_act">
                  <option selected>0</option>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
          </div>
                    <div class="wh90percent textleft right">
            <div class="w50percent child1 none">
              <div class="wh90percent textleft left">
                <span class="opensans size13"><b>Child 1</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>                                  
                </select>
              </div>
            </div>              
            <div class="w50percentlast child2 none">
              <div class="wh90percent textleft right">
              <span class="opensans size13"><b>Child 2</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
            </div>
          </div>
        </div>
                
      </div>
      
           
            
           <div class="room2 none rooms">
        <div class="clearfix"></div><div class="line1"></div>
        <div class="w50percent">
          <div class="wh90percent textleft">
            <span class="opensans size13"><b>ROOM 2</b></span><br/>
            <div class="addroom2 block grey"><a href="#" onclick="addroom3()" class="grey">+ Add room</a> | <a href="#" onclick="removeroom2()" class="orange"><img src="images/delete.png" alt="delete"/></a></div>
          </div>
        </div>

        <div class="w50percentlast">  
          <div class="wh90percent textleft right">
            <div class="w50percent">
              <div class="wh90percent textleft left">
                <span class="opensans size13"><b>Adult</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option selected>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>              
            <div class="w50percentlast">
              <div class="wh90percent textleft right">
              <span class="opensans size13"><b>Child</b></span>
                <select class="form-control mySelectBoxClass child_act">
                  <option selected>0</option>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
          </div>
                    <div class="wh90percent textleft right">
            <div class="w50percent child1 none">
              <div class="wh90percent textleft left">
                <span class="opensans size13"><b>Child 1</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>                                  
                </select>
              </div>
            </div>              
            <div class="w50percentlast child2 none">
              <div class="wh90percent textleft right">
              <span class="opensans size13"><b>Child 2</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>      

            <div class="room3 none rooms">
        <div class="clearfix"></div><div class="line1"></div>
        <div class="w50percent">
          <div class="wh90percent textleft">
            <span class="opensans size13"><b>ROOM 3</b></span><br/>
            <div class="addroom3 block grey"><a href="#" onclick="addroom4()" class="grey">+ Add room</a> | <a href="#" onclick="removeroom3()" class="orange"><img src="images/delete.png" alt="delete"/></a></div>
          </div>
        </div>

        <div class="w50percentlast">  
          <div class="wh90percent textleft right">
            <div class="w50percent">
              <div class="wh90percent textleft left">
                <span class="opensans size13"><b>Adult</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option selected>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>              
            <div class="w50percentlast">
              <div class="wh90percent textleft right">
              <span class="opensans size13"><b>Child</b></span>
                <select class="form-control mySelectBoxClass child_act">
                  <option selected>0</option>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
          </div>
                    <div class="wh90percent textleft right">
            <div class="w50percent child1 none">
              <div class="wh90percent textleft left">
                <span class="opensans size13"><b>Child 1</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>                                  
                </select>
              </div>
            </div>              
            <div class="w50percentlast child2 none">
              <div class="wh90percent textleft right">
              <span class="opensans size13"><b>Child 2</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

       <div class="room4 none rooms">
        <div class="clearfix"></div><div class="line1"></div>
        <div class="w50percent">
          <div class="wh90percent textleft">
            <span class="opensans size13"><b>ROOM 4</b></span><br/>
            <div class="addroom4 block grey"><a href="#" onclick="addroom4()" class="grey">+ Add room</a> | <a href="#" onclick="removeroom4()" class="orange"><img src="images/delete.png" alt="delete"/></a></div>
          </div>
        </div>

        <div class="w50percentlast">  
          <div class="wh90percent textleft right">
            <div class="w50percent">
              <div class="wh90percent textleft left">
                <span class="opensans size13"><b>Adult</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option selected>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
            </div>              
            <div class="w50percentlast">
              <div class="wh90percent textleft right">
              <span class="opensans size13"><b>Child</b></span>
                <select class="form-control mySelectBoxClass child_act">
                  <option selected>0</option>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
          </div>
                    <div class="wh90percent textleft right">
            <div class="w50percent child1 none">
              <div class="wh90percent textleft left">
                <span class="opensans size13"><b>Child 1</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>                                  
                </select>
              </div>
            </div>              
            <div class="w50percentlast child2 none">
              <div class="wh90percent textleft right">
              <span class="opensans size13"><b>Child 2</b></span>
                <select class="form-control mySelectBoxClass">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>  
                <button id="searchBtn"  class="btn btn-primary btn-lg hotel btn-search2" >Search for Hotels</button> 
          </form> 
        </div> 
       
       <!--  <div id="tab3">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label"><input type="radio" value="Round Trip" checked name="flight" /> Round Trip</label>
                    <label class="control-label"><input type="radio" value="One Way Trip" name="flight" /> One Way</label>
                    <label class="control-label"><input type="radio" value="Multi Trip" name="flight" /> Multi City</label>
                </div>
            </div>
            <div class="w50percent">
                <div class="wh90percent textleft">
                    <span class="opensans size13"><b>Flying from</b></span>
                    <input type="text" class="form-control" placeholder="City or airport">
                </div>
            </div>

            <div class="w50percentlast">
                <div class="wh90percent textleft right">
                    <span class="opensans size13"><b>To</b></span>
                    <input type="text" class="form-control" placeholder="City or airport">
                </div>
            </div>
            
            <div class="clearfix"></div><br/>
            
            <div class="w50percent">
                <div class="wh90percent textleft">
                    <span class="opensans size13"><b>Departure</b></span>
                    <input type="text" class="form-control mySelectCalendar2" id="datepicker" placeholder="mm/dd/yyyy"/>
                </div>
            </div>

            <div class="w50percentlast">
                <div class="wh90percent textleft right">
                    <span class="opensans size13"><b>Return</b></span>
                    <input type="text" class="form-control mySelectCalendar2" id="datepicker2" placeholder="mm/dd/yyyy"/>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="w50percent">
                <div class="wh90percent textleft left">
                    <span class="opensans size13"><b>Adult</b></span>
                    <select class="form-control mySelectBoxClass">
                      <option selected>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>                          
            <div class="w50percentlast">
                <div class="wh90percent textleft right">
                <span class="opensans size13"><b>Child</b></span>
                    <select class="form-control mySelectBoxClass">
                      <option selected>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>
            
            <strong></strong>       

            
            <form action="#">
                <button type="submit" class="btn-search2">Search</button>   
            </form> 
        </div> -->
        <div id="tab4">
        <form action="{% url "bus.views.search_bus_v2" %}" method="post" name="bus_search" class="bus_search" id="myform">
                                            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label"><input type="radio" value="oneway" checked name="trip" /> One Way</label>
                    <label class="control-label"><input type="radio" value="round" name="trip" /> Round Trip</label>
                    <label class="control-label"><input type="checkbox" value="Bus Hotel" name="bus" /> Bus + Hotel</label>
                </div>
            </div>
            <div class="w50percent">
                <div class="wh90percent textleft">
                    <span class="opensans size13"><b>From</b></span>
                   <!--  <input type="text" class="form-control" placeholder="City"> -->
                    <input class="typeahead source form-control" placeholder="City, Airport, U.S. Zip" type="text" id="filter_bus" name="source"/>
                    <span class="error" style="display:none; color:red;">please enter the source</span>
                </div>
            </div>

            <div class="w50percentlast">
                <div class="wh90percent textleft right">
                    <span class="opensans size13"><b>To</b></span>
                   <!--  <input type="text" class="form-control" placeholder="City"> -->
                   <input class="typeahead destination form-control" placeholder="City, Airport, U.S. Zip" type="text" id="filter_bus_des" name="destination" />
                  <span class="error" style="display:none; color:red;">please enter the destination</span>
                </div>
            </div>
            
            <div class="clearfix"></div><br/>
            
            <div class="w50percent">
                <div class="wh90percent textleft">
                    <span class="opensans size13"><b>Departure</b></span>
                    <input type="text" class="form-control mySelectCalendar2" id="datepicker3" placeholder="mm/dd/yyyy" name="start" />
                </div>
            </div>

            <div class="w50percentlast return_date">
                <div class="wh90percent textleft right ">
                    <span class="opensans size13"><b>Return</b></span>
                    <input type="text" class="form-control mySelectCalendar2" id="datepicker4" placeholder="mm/dd/yyyy" name="end" />
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            

                <button type="submit" class="btn-search2">Search</button>   
            </form> 
        </div>
        <!-- <div id="tab5">
            <div class="w50percent">
                <div class="wh90percent textleft">
                    <span class="opensans size13"><b>From</b></span>
                    <input type="text" class="form-control" placeholder="City">
                </div>
            </div>

            <div class="w50percentlast">
                <div class="wh90percent textleft right">
                    <span class="opensans size13"><b>To</b></span>
                    <input type="text" class="form-control" placeholder="City">
                </div>
            </div>
            
            <div class="clearfix"></div><br/>
            
            <div class="w50percent">
                <div class="wh90percent textleft">
                    <span class="opensans size13"><b>Departure Date</b></span>
                    <input type="text" class="form-control mySelectCalendar2" id="datepicker5" placeholder="mm/dd/yyyy"/>
                </div>
            </div>

            <div class="w50percentlast">
                <div class="wh90percent textleft right">
                    <span class="opensans size13"><b>Arrival Date</b></span>
                    <input type="text" class="form-control mySelectCalendar2" id="datepicker6" placeholder="mm/dd/yyyy"/>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            
            
                    

                
            <form action="#">
                <button type="submit" class="btn-search2">Search</button>   
            </form> 
        </div> -->
       <!--  <div id="tab6">
            <span class="opensans size18">Choose your destination</span>
            <input type="text" class="form-control" placeholder="Greece">
            
            <br/>
            
            <div class="w50percent">
                <div class="wh90percent textleft">
                    <span class="opensans size13"><b>Check in date</b></span>
                    <input type="text" class="form-control mySelectCalendar2" id="datepicker7" placeholder="mm/dd/yyyy"/>
                </div>
            </div>

            <div class="w50percentlast">
                <div class="wh90percent textleft right">
                    <span class="opensans size13"><b>Check out date</b></span>
                    <input type="text" class="form-control mySelectCalendar2" id="datepicker8" placeholder="mm/dd/yyyy"/>
                </div>
            </div>
            
            <div class="clearfix"></div>
        
            <form action="#">
                <button type="submit" class="btn-search2">Search</button>   
            </form>
        </div> -->
        
        
        
        
    </div>
    
    <script src="{% static "homepage/dist/js/bootstrap.min.js" %}"></script>
    
    <script src="{% static "homepage/assets/js/js-intro2.js" %}"></script>
    
    <script src="{% static "homepage/assets/js/jquery.preload.js"  %}"></script> 

    <script src="{% static "homepage/assets/js/jquery.nicescroll.min.js"  %}"></script>  
    
    <script src="{% static "homepage/assets/js/jquery-ui.js"  %}"></script>      
    
    <script type='text/javascript' src="{% static "homepage/assets/js/jquery.customSelect.js" %}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  

        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="{% static "js/slimmenu.js" %}"></script>
        <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
         <script src="{% static "js/bootstrap-timepicker.js" %}"></script>
        <script src="{% static "js/nicescroll.js" %}"></script>
        <script src="{% static "js/dropit.js" %}"></script>
        <script src="{% static "js/ionrangeslider.js" %}"></script>
        <script src="{% static "js/icheck.js" %}"></script>
        <!-- // <script src="js/fotorama.js"></script> -->
        <!-- // <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> -->
        <script src="{% static "js/typeahead.js" %}"></script>
        <script src="{% static "js/card-payment.js" %}"></script>
        <script src="{% static "js/magnific.js" %}"></script>
        <script src="{% static "js/owl-carousel.js" %}"></script>
        <script src="{% static "js/fitvids.js" %}"></script>
        <script src="{% static "js/tweet.js" %}"></script>
        <script src="{% static "js/countdown.js" %}"></script>
        <script src="{% static "js/gridrotator.js" %}"></script>
        <script src="{% static "js/custom.js" %}"></script>

    
  </body>
</html>
