<?php

require_once dirname( __FILE__ ) . '/payu.php';

function payment_success() {
    /* Payment success logic goes here. */
    echo "Congratulations !! The Payment is successful.";
    $fname=$_POST["firstname"];
    $lname=$_POST["lastname"];
    $email=$_POST["email"];
    $pinfo=$_POST["productinfo"];
    $phone=$_POST["phone"];
    $amt=$_POST['amount'];
    $subject = 'Order Request';
    $headers = "From: " . strip_tags($_POST['email']) . "\r\n";
    $headers .= "Reply-To: ". strip_tags($_POST['email']) . "\r\n";
    $headers .= "MIME-Version: 1.0\r\n";
    $headers .= "Content-Type: text/html; charset=ISO-8859-1\r\n";
    $message ='<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">'.
        '<html xmlns="http://www.w3.org/1999/xhtml">'.
        '<head>'.
    '<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />'.
        '<title>OOZAAOO</title>'.
         '</head>'.
        
        '<body bgcolor="#f5f6f8" style="padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:13px;">'.
        '<table width="601px" border="0" style="margin:27px 0px 0px;" cellpadding="0" cellspacing="0">'.
        '<tr>'.
        '<td>'.
            '<table width="601px" border="0" cellpadding="0" cellspacing="0">'.
              '<tr>'.
              '</tr>'.
            '</table>'.
            '<table width="601px" cellpadding="0" cellspacing="0" border="0" style="margin:-3px 0px 0px; border:1px solid #cdcdcd; border-width:0px 1px 0px; background:#fff;">'.
                '<tr>'.
                    '<td height="61" colspan="2"  style="padding:0 25px 11px; margin-bottom:22px; border-bottom:1px solid #cdcdcd">'.
                        '<img src="http://www.globalensolutions.com/demo/img/oozaaoo.png" /></td>'.
              ' </tr>'.
            '</table>'.
            
             '<table width="601px" cellpadding="0" cellspacing="10" border="0" bgcolor="#ffffff" style="border:1px solid #cdcdcd; border-width:0px 1px 0px; background:#fff; padding:15px 0px 0px;">'.   
                '<tr>'.
                    '<td width="200" style="padding:0px 0px 0px 15px; color:#000;"><b>Firstname</b></td>'.
                    '<td style="color:#008cdb;">'.$fname.'</td>'.
                '</tr>'.
                '<tr>'.
                    '<td style="padding:0px 0px 0px 15px; color:#000;"><b>Lastname</b></td>'.
                    '<td style="color:#525252;">'.$lname.'</td>'.
                '</tr>'.
                '<tr>'.
                    '<td style="padding:0px 0px 0px 15px; color:#000;"><b>Email ID</b></td>'.
                    '<td style="color:#525252;">'.$email.'</td>'.
                '</tr>'.
                '<tr>'.
                    '<td style="padding:0px 0px 0px 15px; color:#000;"><b>Phone no</b></td>'.
                    '<td style="color:#4c4c4c;">'.$phone.'</td>'.
                '</tr>'.
                '<tr>'.
                    '<td style="padding:0px 0px 0px 15px; color:#000;"><b>Product info</b></td>'.
                    '<td style="color:#4c4c4c;">'.$pinfo.'</td>'.
                '</tr>'.
                '<tr>'.
                        '<td style="padding:0px 0px 0px 15px; color:#000;"><b>Amount</b></td>'.
                        '<td valign="bottom" style="color:#4c4c4c;" >'.$amt.'</td>'.
                '</tr>'.
             '</table>'.
             
             '<table width="601px" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-left:1px solid #d6d6d6;border-right:1px solid #d6d6d6;border-top:1px solid #d6d6d6;">'.
                 '<tr>'.
                    '<tr>'.
                    '<td width="195px"  height="63px" style="padding:20px 0px 0px 26px; color:#000000; font-size:12px;"><b>Your feedback makes us better:</b></td>'.
                    '<td width="23px" style="padding-top:14px;" ><img src="http://www.globalensolutions.com/demo/img/feedback_up.gif" width="14" height="13" style="cursor:pointer;" /></td>'.
                    '<td width="23px" style="padding-top:25px;"><img src="http://www.globalensolutions.com/demo/img/feedback_down.gif" width="14" height="13" style="cursor:pointer;" /></td>'.
                    '<td width="168px" style=" border-right:1px solid #d6d6d6;" height="1px" >&nbsp;</td>'.
                    '<td width="165px"><a href="#" style="float:left; background:url(http://www.globalensolutions.com/demo/img/grn_btn_bg.gif) repeat-x 0px 0px; color:#fff; text-decoration:none; padding:0px 12px; border-radius:4px; font-size:12px; height:31px; line-height:31px; margin:19px 0px 0px 21px; font-weight:bold;">View our Site</a></td>'.
                    '</tr>'.
            '</table>'.     
            '<table width="601px" cellpadding="0" cellspacing="0" border="0" style="margin:-3px 0px 0px 0px;" >'.
              '<tr>'.
              '</tr>'.
            '</table>'.
            
            '<table width="601px" cellpadding="0" cellspacing="0" border="0" style="margin:10px auto;">'.
                '<tr align="center">'.
                    '<td style="font-size:10px; vertical-align:middle; color:#4b4b4b;">Power by OZAAOO.com'.
                   ' </td>'.                
                   '</tr>'.
            '</table>'.
        '</td>'.
        '</tr>'.    
        '</table>'.    
        '</body>'.
        '</html>';  
    $mail_sent=mail($email, $subject, $message, $headers);  
    if($mail_sent)
        echo "<script>alert('Thank you. we will get back to you');
               window.location='index.php';exit();</script>";
    else
        echo "<script>alert('Sorry.Request not send');
             window.location='index.php';exit();</script>";
    
}

function payment_failure() {
    /* Payment failure logic goes here. */
    echo "We are sorry. The Payment has failed";
}



/* Payments made easy. */

if ( count( $_POST ) ) 
    pay_page( array ('key' => 'gtKFFx', 'txnid' => uniqid( 'animesh_' ), 'amount' =>$amount,
            'firstname' => $firstname,'lastname' => $lastname, 'email' => $email, 'phone' => $phone,
            'productinfo' =>$productinfo, 'surl' => 'payment_success', 'furl' => 'payment_failure'), 
            'eCwWELxi' );



/* Merchant Page. ( All the html code ) */

else {
?>
<!DOCTYPE HTML>
<html>

<head>
    <title>OOZAAOO</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>

    <!-- FACEBOOK WIDGET -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- /FACEBOOK WIDGET -->
    <div class="global-wrap">
        <header id="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="img/39b16fdc67bf0dafab024e0aa0a16990.png" />
                        </div>
                        <div class="col-md-3 col-md-offset-2">
                            
                        </div>
                        <div class="col-md-4">
                            <div class="top-user-area clearfix">
                                <ul class="top-user-area-list list list-horizontal list-border">
                                    <li>
                                        <i class="fa fa-envelope-o"></i>  care@oozaaoo.com
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>  0413 4300001/3/8
                                    </li>
                                    <li>
                                        <a class="btn btn-lg btn-white btn-ghost book_now" >Book Now </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="nav">
                    <ul class="slimmenu" id="slimmenu">
                        
                       
                    </ul>
                </div>
            </div>
        </header>


        <div class="bg-holder">
            <div class="bg-mask-darken"></div>
            <div class="bg-parallax"></div>
            <!-- START GRIDROTATOR -->
            <div class="ri-grid" id="ri-grid">
                <ul>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="new york at an angle" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Working in the Nature" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Rail Road" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="AMaze" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Street" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Gamer Chick" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Playstation controller" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Bridge" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="a dreamy jump" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="196_365" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Old No7" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Street Yoga" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Play Ball" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Flare lens flare" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Cup on red" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="a turn" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="b and w camera" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Gaviota en el Top" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="El inevitable paso del tiempo" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="lack of blue depresses me" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="waipio valley" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="sweet escape" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Viva Las Vegas" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Thyme" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Foots and grass" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="The Big Showoff-Take 2" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="drifting days" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Sydney Harbour" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Bekohlicious Flower" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="hotel PORTO BAY RIO INTERNACIONAL rooftop pool" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Spidy" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="people on the beach" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Bubbles" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="pink flowers" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="sunny wood" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Pictures at the museum" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="The Hidden Power of the Heart" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="the best mode of transport here in maldives" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Our Coffee miss u" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="4 Strokes of Fun" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Afro" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="In the bokeh forest" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Sorry to Bust Your Bubble" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="New Year Greetings" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="cascada" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Bekohlicious" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="end of the day" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img/300x300.png" alt="Image Alternative text" title="Sevenly Shirts - June 2012  2" />
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END GRIDROTATOR -->
            <div class="bg-front full-center">
                <div class="container">
                    <div class="search-tabs search-tabs-bg">
                        <h1>Find Your Perfect Trip</h1>
                        <div class="tabbable">
                            
                            <div class="tab-content">
                                <div class="tab-panel fade in active" id="tab-1">
                                    <h3>Welcome to Oozaaoo leisures!</h3><br/>
                                    <span>Our Vision to serve, by understanding our clients and thereby redefine the travel experience to a unique one each time you are served by us.</span><br/>
                                    <span>Oozaaoo has created new styles of international and domestic travel, aiming to provide safety and comfort for all occasions. We are committed to serve quality tours, offering responsible tourism to worldwide destinations.</span><br/>
                                    <span>We can assist you with all of your travel needs, creating unique itineraries to cool destinations at competitive fares.</span><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
        </div>
        <div class="bg-color text-white">
            <div class="container">
                <div class="gap"></div>
                <div class="row row-wrap" data-gutter="120">
                    <div class="col-md-4">
                        <div class="thumb">
                            <header class="thumb-header"><i class="fa fa-dollar box-icon-border round box-icon-white box-icon-big"></i>
                            </header>
                            <div class="thumb-caption">
                                <h4 class="thumb-title">International Holidays</h4>
                                <p class="thumb-desc">Eleifend tortor himenaeos mollis facilisis ligula sed himenaeos massa vivamus nulla posuere posuere</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumb">
                            <header class="thumb-header"><i class="fa fa-inr box-icon-border round box-icon-white box-icon-big"></i>
                            </header>
                            <div class="thumb-caption">
                                <h4 class="thumb-title">Domestic Holidays</h4>
                                <p class="thumb-desc">Lectus ipsum eu elementum fames et fames vehicula montes sapien malesuada dictum nullam</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumb">
                            <header class="thumb-header"><i class="fa fa-cc-visa box-icon-border round box-icon-white box-icon-big"></i>
                            </header>
                            <div class="thumb-caption">
                                <h4 class="thumb-title">Visa services</h4>
                                <p class="thumb-desc">Auctor bibendum risus mauris porta ridiculus bibendum placerat rhoncus sagittis varius condimentum tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumb">
                            <header class="thumb-header"><i class="fa fa-plane box-icon-border round box-icon-white box-icon-big"></i>
                            </header>
                            <div class="thumb-caption">
                                <h4 class="thumb-title">Flight booking</h4>
                                <p class="thumb-desc">Auctor bibendum risus mauris porta ridiculus bibendum placerat rhoncus sagittis varius condimentum tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumb">
                            <header class="thumb-header"><i class="fa fa-bus box-icon-border round box-icon-white box-icon-big"></i>
                            </header>
                            <div class="thumb-caption">
                                <h4 class="thumb-title">Hotel Booking</h4>
                                <p class="thumb-desc">Auctor bibendum risus mauris porta ridiculus bibendum placerat rhoncus sagittis varius condimentum tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumb">
                            <header class="thumb-header"><i class="fa fa-bus box-icon-border round box-icon-white box-icon-big"></i>
                            </header>
                            <div class="thumb-caption">
                                <h4 class="thumb-title">Bus booking</h4>
                                <p class="thumb-desc">Auctor bibendum risus mauris porta ridiculus bibendum placerat rhoncus sagittis varius condimentum tempor</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap gap-small"></div>
            </div>
        </div>
        <div class="container">
        </div>
        <div class="special-area">
            <div class="owl-carousel owl-slider owl-carousel-area" id="owl-carousel-slider">
                <div class="bg-holder full text-center text-white">
                    <div class="bg-mask"></div>
                    <div class="bg-img" style="background-image:url(img/2048x1365.png);"></div>
                    <div class="bg-front full-center">
                        <div class="owl-cap">
                            <div class="owl-cap-weather"><span>+26</span><i class="im im-cloudy"></i>
                            </div>
                            <h1 class="owl-cap-title">Paris</h1>
                            <div class="owl-cap-price"><small>from</small>
                                <h5>$1800</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-holder full text-center text-white">
                    <div class="bg-mask"></div>
                    <div class="bg-img" style="background-image:url(img/2048x2048.png);"></div>
                    <div class="bg-front full-center">
                        <div class="owl-cap">
                            <div class="owl-cap-weather"><span>+28</span><i class="im im-sun"></i>
                            </div>
                            <h1 class="owl-cap-title">Budapest</h1>
                            <div class="owl-cap-price"><small>from</small>
                                <h5>$3000</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-holder full text-center text-white">
                    <div class="bg-mask"></div>
                    <div class="bg-img" style="background-image:url(img/2048x1365.png);"></div>
                    <div class="bg-front full-center">
                        <div class="owl-cap">
                            <div class="owl-cap-weather"><span>+31</span><i class="im im-rain"></i>
                            </div>
                            <h1 class="owl-cap-title">Las Vegas</h1>
                            <div class="owl-cap-price"><small>from</small>
                                <h5>$1400</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="gap"></div>
            <h2 class="text-center mb20">Top Travel Destinations</h2>
            <div class="row row-wrap">
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img curved" href="#">
                                <i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">Greece</h4>
                            <p class="thumb-desc">Consectetur diam dignissim aptent augue maecenas ridiculus aliquam</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img curved" href="#">
                                <i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">Africa</h4>
                            <p class="thumb-desc">Suspendisse vulputate etiam convallis aptent justo aptent senectus</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img curved" href="#">
                                <i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">USA</h4>
                            <p class="thumb-desc">Quis volutpat vel at mus ipsum fames habitant</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img curved" href="#">
                               <i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">Australia</h4>
                            <p class="thumb-desc">Montes ullamcorper venenatis nullam feugiat dui eros himenaeos</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-small"></div>
        </div>



        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                    
                        <p class="mb20">Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
                        <ul class="list list-horizontal list-space">
                            <li>
                                <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>Newsletter</h4>
                        <form>
                            <label>Enter your E-mail Address</label>
                            <input type="text" class="form-control">
                            <p class="mt5"><small>*We Never Send Spam</small>
                            </p>
                            <input type="submit" class="btn btn-primary" value="Subscribe">
                        </form>
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-4">
                        <h4>Have Questions?</h4>
                        <h4 class="text-color">0413 4300001/3/8</h4>
                        <h4><a href="#" class="text-color">itsupport@oozaaoo.com</a></h4>
                        <p>Thanks for visiting.</p>
                    </div>

                </div>
            </div>
        </footer>
        <div class="popup_bg"> </div>
            <div class="popup_holder popup_pos badge_detail_act ">
                <div class="popup_close">X</div>
                    <div class="badge_detial_col"> 
                        <form method="post"  action="<?php echo $_SERVER['PHP_SELF']; ?>">
                                <div id='tab1'>
                                    <h3 class="text-color">BOOK NOW</h3>
                                    <table>
                                        <tr>
                                            <td>Firstname</td><td><input name='firstname' type='text' value='' required></td>
                                            <td>Lastname</td><td><input name='lastname' type='text' value='' required></td>
                                        </tr>
                                        <tr>
                                            <td>Email</td><td><input name='email' type='text' value='' required></td>
                                            <td>Phone:</td><td><input name='phone' type='text' value='' required></td>
                                        </tr>
                                        <tr>
                                            <td>Product Name</td><td><input name='productinfo' type='text' value='' required></td>
                                            <td>Amount</td><td><input name='amount' type='text' value='' required></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><input type="submit" value="Submit"></td>
                                        </tr>
                                    </table>
                                </div>
                          </form>
                    </div>
            </div>
        </div>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/slimmenu.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <script src="js/icheck.js"></script>
        <script src="js/fotorama.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="js/typeahead.js"></script>
        <script src="js/card-payment.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>
    </div>
</body>

</html>
<?php
}
?>

