{% extends 'v2/base_inner_v2.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content %}
<script type="text/javascript" src="{% static "v2/js/imagelightbox.js" %}"></script>
<script>
jQuery(function(){
    jQuery( 'a' ).imageLightbox();
});
</script>

<script>
    jQuery( selector ).imageLightbox(
    {
        selector:       'id="imagelightbox"',   // string;
        allowedTypes:   'png|jpg|jpeg|gif',     // string;
        animationSpeed: 250,                    // integer;
        preloadNext:    true,                   // bool;            silently preload the next image
        enableKeyboard: true,                   // bool;            enable keyboard shortcuts (arrows Left/Right and Esc)
        quitOnEnd:      false,                  // bool;            quit after viewing the last image
        quitOnImgClick: false,                  // bool;            quit when the viewed image is clicked
        quitOnDocClick: true,                   // bool;            quit when anything but the viewed image is clicked
        onStart:        false,                  // function/bool;   calls function when the lightbox starts
        onEnd:          false,                  // function/bool;   calls function when the lightbox quits
        onLoadStart:    false,                  // function/bool;   calls function when the image load begins
        onLoadEnd:      false                   // function/bool;   calls function when the image finishes loading
    });
    
// var $instance = $(".view_act").imageLightbox();
 
// $instance.switchImageLightbox( index );
// // switches to the other image; accepts integer argument (an index of the desired image)
 
// $instance.quitImageLightbox();
// quits the lightbox

    
</script>
 <script src="https://maps.googleapis.com/maps/api/js"></script>
         <script>
             function initialize() {
                   var mapCanvas = document.getElementById('map-canvas');
                   var mapOptions = {
                   center: new google.maps.LatLng(44.5403, -78.5463),
                   zoom: 8,
                   mapTypeId: google.maps.MapTypeId.ROADMAP
                   }
                var map = new google.maps.Map(mapCanvas, mapOptions)
                }
             google.maps.event.addDomListener(window, 'load', initialize);
         </script>
<section class="search-section">
    <div class="container">
    	<div class="row padding20">
        	<div class="col-md-2"></div>
            <div class="col-md-6">
            	<div class="row">
                	<div class="col-md-3 marginbottom10">
                          <ul class="nav navbar-nav pull-right">
                            <li class="dropdown">
                                <span class="dropdown-toggle bold cursor-pointer top10" data-toggle="dropdown">Hotel <span class="caret"></span></span>
                                <ul class="dropdown-menu" aria-labelledby="themes">
                                  <li><a href="#">Flights</a></li>
                                  <li><a href="#">Cars</a></li>
                                 </ul>
                            </li>
                          </ul>
                    </div>
                 	<div class="col-md-7">
                         <div class="input-group">
                             <input type="text" class="form-control paddingleftright10" value="{{request.COOKIES.c}}" placeholder="Search here" /> 
                        </div>
               		</div>
                </div>
            </div>
            <div class="col-md-4 top10">
            	<a href="#" class="paddingleft20"><i class="fa fa-heart"></i> My Lists</a>
                <a href="#" class="paddingleft20"><i class="ion ion-log-in"></i> Manage Booking</a>
            </div>
        </div>
    </div>
    </section>
        <section class="hotel-slider hotel-bg">
    <img class="detail_banner_images" src="{{hotels.gallery.2.2}}" alt=""/>
    <div class="hotelbg_overlay"></div>
	    <div class="container detail_banner_content">
        	<div class="text-center">
            	<div class="hotel-address">
                    <h1 class="text-center">{{hotels.hn}}</h1>
                    <p><i class="fa fa-map-marker"></i> &nbsp; {{hotels.l}},  &nbsp;&nbsp;{{hotels.c}}

                        <a href="#">Show Map</a>
                    </p>
                    <br>
                   	<p>
                    <span class="wifi_white"></span>
                    <span class="swimming_white"></span>
                    <span class="cutlury_white"></span>
                    <span class="rest_chair_white"></span>
                    <span class="room_serve_trans_white"></span></p><br>

                    <a class="view_act btn btn-transpurple" data-imagelightbox="a" href="{{hotels.gallery.2.2}}">View Images</a><br><br>

                    {% for image in hotels.gallery %}
                    <a class="view_act btn btn-transpurple dn" data-imagelightbox="a" href="{{image.2}}">View Images</a>
                    {%endfor%} 
                 
                        {% if hotels.hr == 1 %}
                            <i class="fa fa-star star-yellow"></i>
                        {% elif hotels.hr == 2 %}
                            <i class="fa fa-star star-yellow"></i>
                            <i class="fa fa-star star-yellow"></i>
                        {% elif hotels.hr == 3 %}
                            <i class="fa fa-star star-yellow"></i>
                            <i class="fa fa-star star-yellow"></i>
                            <i class="fa fa-star star-yellow"></i>
                        {% elif hotels.hr == 4 %}
                            <i class="fa fa-star star-yellow"></i>
                            <i class="fa fa-star star-yellow"></i>
                            <i class="fa fa-star star-yellow"></i>
                            <i class="fa fa-star star-yellow"></i>
                        {% elif hotels.hr == 5 %}
                            <i class="fa fa-star star-yellow"></i>
                            <i class="fa fa-star star-yellow"></i>
                            <i class="fa fa-star star-yellow"></i>
                            <i class="fa fa-star star-yellow"></i>
                            <i class="fa fa-star star-yellow"></i>
                        {% endif %}
                    
                </div> 
                 <!--div class="reviews">
                	<a href="#"><i class="ion ion-ios-heart-outline"></i> Shortlist</a>
                    <a href="#"><i class="ion ion-ios-paper-outline"></i> Reviews</a>
                </div-->               
            </div>
           
        </div>
    </section>
    <section class="hotel-content">
    	<div class="container">
        	<div class="row padding20">
            	<div class="col-md-8">
                	<p>{{hotels.des}}</p>
                    <div class="well well-yellow">
                    	<div class="size30 pull-left margin020"><i class="ion ion-ios-locked light-purple"></i></div>
                        <p class="size17 nomargin">Lock in a great price for your upcoming stay<br> Prices might go up, so secure your reservation today.</p></div>
                    <h4>Select your room</h4>
                    <div class="rooms-list">
                        {% for room in hotels.rooms_data %}                        
                    	<div class="row nomargin">
                        	<div class="col-md-9 nomargin nopadding">
                                <div class="panel panel-default min-height120">
                                    <div class="panel-body">
                                        <div class="room-img">
                                            <img src="{{room.room_info.image}}" alt="{{room.room_info.bedtype}}" />
                                        </div>
                                        <div class="room-details">
                                            <h4 class="nomargin">
                                            <a href="#">{{room.room_info.type_name}} 
                                            </a>
                                            <!--span class="text-muted size12 red bold">1 Rooms left</span-->
                                            </h4>
                                            <!--p class="room-price">                                                <i class="fa fa-rupee"></i> {{room.op}} per room per night
                                            </p-->
                                             

                                            <p class="light-purple nomargin">
                                                <i class="ion ion-ios-snowy size30 bold"></i> 
                                                <span class="top-6 marginright20">{{room.room_info.facilities.0}}</span>

                                                <i class="ion ion-ios-snowy size30 bold"></i> 
                                                <span class="top-6 marginright20">{{room.room_info.facilities.1}}</span>

                                                <i class="ion ion-ios-snowy size30 bold"></i> 
                                                <span class="top-6 marginright20">{{room.room_info.facilities.2}}</span>

                                                <i class="ion ion-ios-snowy size30 bold"></i> 
                                                <span class="top-6 marginright20">{{room.room_info.facilities.3}}</span>

                                                <i class="ion ion-ios-snowy size30 bold"></i> 
                                                <span class="top-6 marginright20">{{room.room_info.facilities.4}}</span>

                                                <i class="ion ion-ios-snowy size30 bold"></i> 
                                                <span class="top-6 marginright20">{{room.room_info.facilities.5}}</span>

                                                <i class="ion ion-ios-snowy size30 bold"></i> 
                                                <span class="top-6 marginright20">{{room.room_info.facilities.6}}</span>

                                            </p>
                                            <p>{{room.room_info.description}}</p>
                                        </div>
                                    </div>
                                </div>   
                            </div>
                            <div class="col-md-3 nomargin nopadding">     
                                <div class="panel panel-default pull-left min-height120">
                                    <div class="panel-body">
                                        <div class="room-price-bg">
                                                <h3 class="nomargin"><i class="fa fa-rupee"></i>{{room.op}} </h3>
                                                <span class="size12">Prices for per nights</span>
                                                <!--button class="btn btn-success padding515">Reserve</button-->
                                                <p class="size11 grey">Fare Policy</p>
                                        </div>
                                     </div>
                                </div> 
                            </div>         
                   		</div>
                        {% endfor %}                  
                	</div>
                    <h4>Things to know</h4>                   

                    <table class="table bg-white">
                    	<tr>
                        	<td>Check-in</td>
                            <td>From </td>
                        </tr>
                        <tr>
                        	<td>Check-out</td>
                            <td>Until 12:00</td>
                        </tr>
                        <tr>
                        	<td>Cancellations</td>
                            <td>Cancellation and prepayment policies vary according to room type.</td>
                        </tr>
                        <tr>
                        	<td>Children and Extra Beds</td>
                            <td>Free! One child under 5 years stays free of charge when using existing beds</td>
                        </tr>
                        <tr>
                        	<td>Pets</td>
                            <td>Pets are not allowed</td>
                        </tr>
                    </table>
                    <h4>Reviews and Rating</h4>
                    <table class="table bg-white">
                    	<tr>
                        	<td>
                            	By Amul.r<br/>
                                on 10 July,2015<br/>
                             	<i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star grey"></i>	   
                            </td>
                            <td>
                            	Except frequent power cut it was good. They had restrictions in swimming pool for dress and timings. Overall it was very good best to enjoy with couples. Food was good. Complementary cake was provided. Located before Pondicherry. Must try enjoy thanks to MakeMytrip.
                            </td>
                        </tr>
                        <tr>
                        	<td>
                            	By Saravanan <br/> on 10 July,2015<br/>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star grey"></i>
                                <i class="fa fa-star grey"></i>
                                <i class="fa fa-star grey"></i>
                                <i class="fa fa-star grey"></i>
                            </td>
                            <td>Service very bad, rooms not clean, basic requirements not fulfilled. A/C not working properly, food quality not nice veg & non veg dishes together. Other guest use the same hand they eat to take further food Termite treatment not done please avoid.
</td>
                        </tr>
                        <tr>
                        	<td>
                            	By Alan<br> on 10 July,2015<br/>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star grey"></i>
                            </td>
                            <td>Had travelled with family and friends. Awesome place. Wonderfully maintained swimming pool. AC not good at activity centre. Food was not much option for a simple vegetarian dinner. Had to go for buffet. Very cordial and friendly staff. Unfortunately nightclub was below our room. So was disturbing till it ended.
</td>
                        </tr>
                        <tr>
                        	<td>By Hadley<br/>on 10 July,2015<br/>
                            <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star star-yellow"></i>
                                <i class="fa fa-star grey"></i>
                            </td>
                            <td>Well located, about 10 KMs from Pondicherry. Large property with good features to keep everyone busy. Close proximity to the beach, though no direct access to it. The property is well maintained and rooms are spacious and provide enough privacy. However, service was all throughout poor right from the reception, </td>
                        </tr>
                        <tr>
                        	<td></td>
                            <td class="text-right"><a href="#">Show more</a></td>
                        </tr>
                    </table>
                    
                    </div>
                <div class="col-md-4">
                	<div class="panel panel-lightpurple hotel-details-rightside">
                    	<div class="panel-heading">
                        	<h5 class="panel-title">
                            	Start at <i class="fa fa-rupee"></i> 3500 (per night)
                            </h5>
                        </div>
                        <div class="panel-body">
                            
                        <form name="probook" id="probook123" class="form-horizontal" 
                        action="{% url "hotels.views.userdetails_v2" %}" method="post">
                            {% csrf_token %}
                        	<div class="row">                              

                                <p class="booking-item-header-price">                                
                                    <span class="text-lg mp"></span>
                                    <small>Per Room Per Night</small>                                   
                                </p>

                            	<div class="col-md-5">
                                	<label>Check-in</label>
                                    <input type="text" class="form-control" value="{{request.COOKIES.checkin}}" readonly />
                                </div>
                                <div class="col-md-5">
                                	<label>Check-out</label>
                                    <input type="text" class="form-control" value="{{ request.COOKIES.checkout}}" readonly/>
                                </div>
                                <div class="col-md-2">
                                	<label>Nights</label>
                                    <input type="text" class="form-control text-center" value="{{no_night}}" readonly />
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-md-2">
                                	<label>Rooms</label>
                                    <input type="text" class="form-control text-center" 
                                    value="{{request.COOKIES.rooms}}" readonly />
                                </div>
                                <div class="col-md-5">
                                	<label>Guests</label>
                                    <input type="text" class="form-control" value="{{ request.COOKIES.guest}}" readonly />
                                </div>
                                <div class="clear"></div>
                                <div class="col-md-5">
                                        <p>
                                            <span class="text-lg">Sub Total</span>
                                            <span class="text-lg"></span>
                                            <span class="text-lg">Excludes Taxes</span>
                                        </p>
                                    
                                </div>
                                <!--div class="col-md-5">
                                	<label>Nights</label>
                                    <input type="text" class="form-control" value="1 Children" />
                                </div-->
                            </div>

                        <!-- {% if hotelroominfos|length == 1 %}
                            {% for hotelroominfo in hotelroominfos %}
                            <input type="hidden" name="rtc" value="{{hotelroominfo.rtc}}" class="btn btn-primary" />
                            <input type="hidden" name="rpc" value="{{hotelroominfo.rpc}}" class="btn btn-primary" />
                                {% if hotelroominfo.rtc and hotelroominfo.rpc %}
                                    <a href="{% url "hotels.views.userdetails" %}">Book Now</a>
                                {% else %}
                                    <a href="#">Booking Not Available</a>
                                {% endif %}
                            {% endfor %}     
                        {% else %}  
                             <a href="#">Booking Not Available</a>
                        {% endif %}  -->

                           
                        <select class="selectroomtypes">
                            {% for room in hotels.rooms_data %}
                                {% if room.rtc and room.rpc %}
                                    <option data-rpc="{{room.rpc}}" data-rtc="{{room.rtc}}" data-mp="{{room.mp}}" data-tp="{{room.tp}}" data-ttc="{{room.ttc}}" data-tp_alltax="{{room.tp_alltax}}">{{room.room_info.type_name}}</option>
                                {% endif %}
                            {% endfor %}                            
                        </select>

                        <span class="text-lg subtotal"></span>                        
                        <span class="text-lg totalprice"></span>

                        <input type="hidden" name="selectedrpc" id="selectedrpc" value="" />
                        <input type="hidden" name="selectedrtc" id="selectedrtc" value="" />
                        <input type="hidden" name="mp" id="mp" value="" />
                        <input type="hidden" name="totalprice" id="totalprice" value="" />
                        <input type="hidden" name="totaltax" id="totaltax" value="" />
                        <input type="hidden" name="totalprice_wt" id="totalprice_wt" value="" />

                    <input type="hidden" name="joindata" value="{{morehoteldatas.joindata}}" class="btn btn-primary" />
                        <input type="hidden" name="hc" value="{{morehoteldatas.hc}}" class="btn btn-primary" />
                        <input type="hidden" name="ibp" value="{{morehoteldatas.ibp}}" class="btn btn-primary" />
                        <input type="hidden" name="fwdp" value="{{morehoteldatas.fwdp}}" class="btn btn-primary" />

                        <div class="row">
                            <div class="col-md-12">
                                <!--button type="submit" class="btn btn-primary">Book Now</button-->
                                <input type="submit" class="btn btn-primary" value="Buynow"/>
                            </div>    
                        </div>
                        </form>
                        </div>
                    </div>                    
                </div>
            </div>
            <img id="imagelightbox" src="" alt=""/>
 {% endblock %}        
         