{% extends 'v2/base_inner_v2.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content %}
<script>
    function initialize() {
         var myLatlng = new google.maps.LatLng({{request.COOKIES.la}},{{request.COOKIES.lo}});
        var myOptions = {
            zoom: 12,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        TestMarker();
    }

    // Function for adding a marker to the page.
    function addMarker(location) {
        marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }

    // Testing the addMarker function
    function TestMarker() {
           CentralPark = new google.maps.LatLng({{request.COOKIES.la}},{{request.COOKIES.lo}});
           addMarker(CentralPark);
    }
        
    </script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div class="bg-lightgrey bus-payment ">
    <div class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4 marginbottom10">
                    <h2 class="bold">Hotel Booking<br/><span class="logo-span-txt">Made easy!</span></h2>         
                </div>
                <div class="col-md-4 pull-right">
                    <h4 class="size17 padding20">Need Help? <strong class="marginleft10"> Call us:</strong> (0452) 394 12345 </h4>
                </div>
                <div class="col-md-4">
                    {% if request.user.is_authenticated %}
                        <div class="top-user-area clearfix">
                            <a href="/">{{request.user.first_name}}</a>
                            <a href="v2/logout/">Logout</a>
                            <a href="/myprofile/">Myprofile</a>
                            <a href="/mybooking/">MyBooking</a>
                        </div>
                    {% else %}
                        <div class="top-user-area clearfix">
                            <a href="v2/register">Login</a>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>       
 <header class="navbar bg-lightgrey1">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#"><span class="refund">Easy Cancel/Refund new </span></a>
        </li>
      </ul>
     </nav>
  </div>
</header>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="light-purple text-center">Make your booking in 3 simple steps! </h2>
            </div>
        </div>
        <div class="padding10"></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-lightpurple">
                    <div class="panel-heading">
                        <h2 class="panel-title"> 1. Trip Details</h2>
                    </div>
                    <div class="panel-body">
                        <h4 class="size18"><strong>{{request.COOKIES.hn}}</strong> <span class="text-muted">({{request.COOKIES.no_night}} nights)</span>
                        <span class="text-muted pull-right size17 underline toggleModal">Cancellation policy</span>
                        <div class="clearfix"></div>
                        </h4>
                        <h5 class="size17"><i class="fa fa-map-marker"></i>{{request.COOKIES.l}}&nbsp;&nbsp;{{request.COOKIES.c}}.
                            <a href="#" class="map">show map
                                <div id="map_canvas"></div>
                            </a>
                        </h5>
                        <div class="padding10"></div>
                        <div class="padding10 well-yellow">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="nomargin"> Check-in: <strong>{{request.COOKIES.checkin}}</strong></p>
                            </div>
                            <div class="col-md-3">
                                <p class="nomargin"> Check-out: <strong>{{request.COOKIES.checkout}}</strong></p>
                            </div>
                             <div class="col-md-3">
                                <p class="nomargin"> Guests: <strong>{{request.COOKIES.guest}}</strong></p>
                            </div>
                            <div class="col-md-3">
                                <p class="nomargin"> Rooms: <strong>{{request.COOKIES.guest}} </strong><button class="btn btn-link pull-right nopadding"><i class="mdi mdi-pencil"></i></button></p>
                            </div>
                        </div>
                        </div>
                        <h5>Selected room</h5>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="rooms-list">
                                <div class="row nomargin">
                                    <div class="col-md-9 nomargin nopadding">
                                        <div class="panel panel-default min-height120">
                                            <div class="panel-body">
                                                <!--div class="room-img">
                                                    <img src="images/deluxe-double.jpg" alt="deluxe double" />
                                                </div-->
                                                <div class="room-details">
                                                    <h4 class="nomargin"><a href="#">Deluxe Double Room <span class="text-muted size12 red bold">1 Rooms left</span></a></h4>
                                                    <p class="room-price"><i class="fa fa-rupee"></i> {{smp}} per room per night</p>
                                                    <p class="light-purple nomargin"><i class="ion ion-ios-snowy size30 bold"></i> <span class="top-6 marginright20">Air Conditioner</span> <i class="ion ion-wifi size30 bold"></i> <span class="top-6"> Free wifi</span></p>
                                                </div>
                                            </div>
                                        </div>   
                                    </div>
                                    <div class="col-md-2 nomargin nopadding">     
                                        <div class="panel panel-default pull-left min-height120">
                                            <div class="panel-body nopadding margintop15">
                                                <div class="room-price-bg">
                                                        <h3 class="nomargin"><i class="fa fa-rupee"></i> {{stp}} *</h3>
                                                        <span class="size12">Prices for {{request.COOKIES.no_night}} nights</span>                                                    <button class="btn btn-primary padding515 margintop5">Change</button>                                     
                                                </div>
                                             </div>
                                        </div> 
                                    </div>         
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="hotel-facilities">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="checkbox" class="pull-left" />
                                    <p class="pull-left marginleft10 size17"><strong>Breakfast</strong><br/>Yes, we'd like breakfast during our stay at no additional cost.</p>
                                    <div class="clearfix"></div>
                                    <input type="checkbox" class="pull-left" />
                                    <p class="pull-left marginleft10 size17"><strong>Car rental</strong><br/>Interested in renting a car for your trip?</p>
                                </div>
                            </div>
                        </div>
                       <div class="row">
                        <div class="col-md-9">
                            <div class="well">
                                <i class="fa fa-smile-o size30 pull-left padding10"></i>
                                <p class="size17 nomargin bold">Your stay includes: <br/><span class="size14">Breakfast, Air conditioning, Flat-screen TV, City view, Outdoor Pool, Free WiFi</span></p>
                            </div>
                        </div>
                      </div>  
                        <section class="special-request">
                            <div class="row">
                                <div class="col-md-8">
                                    <form>
                                        <p class="size17"><i class="fa fa-clock-o"></i> Your estimated time of arrival (optional)</p>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <select class="form-control">
                                                    <option>I don't know</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="padding10"></div>
                                        <p class="size17"><i class="fa fa-clock-o"></i> Special Requests (not guarented)</p>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <textarea class="form-control" rows="5" placeholder="Example: Need early check in options"></textarea>
                                            </div>
                                         </div>    
                                            
                                    </form>
                                </div>
                            </div>        
                        </section>
                        <hr/>
                    
                        <div class="row">
                        <div class="col-md-1 pull-right"></div>
                            <div class="col-md-4 pull-right">
                                <p>Price {{request.COOKIES.no_night}} night: <span class="pull-right"><i class="fa fa-rupee"></i> {{stp}}</span></p>
                                <p>TAX : <span class="pull-right"><i class="fa fa-rupee"></i>{{sttc}}</span></p>
                                <!--p>Service charge (2%): <span class="pull-right"><i class="fa fa-rupee"></i> 300</span></p!-->
                                <hr/>
                          </div>   
                        </div>
                        <div class="row">
                      
                            <div class="col-md-5 pull-right">
                                <p class="size17"> <strong>To be paid:</strong> <span class="light-purple size30 text-right pull-right bottom15"><i class="fa fa-rupee"></i> {{stpcwt}} <span class="size14 text-muted">({{request.COOKIES.no_night}} nights)</span></span></p>
                         </div>   
                        </div>
                    </div>
                </div>
                <div class="padding10"></div>

                {% if not request.user.is_authenticated %}
                <div class="panel panel-lightpurple">
                    <div class="panel-heading">
                        <h4 class="panel-title"> 2. Guest details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Log in to speed up your booking</h5>
                                <form class="form-horizontal" action="{% url "hotels.views.login_user_v2" %}" 
                                method="POST" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email<span class="red">*</span></label>
                                            <input class="form-control" placeholder="e.g. johndoe" type="text" name="username" />
                                        </div>
                                        <div class="col-md-6">
                                            <label>Password<span class="red">*</span></label>
                                            <input class="form-control" type="password" placeholder="my secret password" name="password" />
                                        </div>
                                    </div><br>
                                     <div class="row">
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary">Login</button>
                                        </div>
                                        <div class="col-md-8">
                                            <h5 class="text-right">Not Registered? <a href="{% url "hotels.views.registration_v2" %}"> Create New Account</a></h5>
                                        </div>
                                     </div>   
                                  <div class="padding10"></div>
                                  <input type="hidden" name="next" value="{{request.path}}" />
                                </form>
                            </div>
                            <div class="col-md-6">
                            
                            </div>
                        </div>        
                    </div>
                </div>
                {% endif %}

                <div class="panel panel-lightpurple">
                    
                    {% if request.user.is_authenticated %}
                    <div class="panel-heading">
                        <h4 class="panel-title"> 2. Payment</h4>
                    </div>
                    {% else %}
                        <div class="panel-heading">
                        <h4 class="panel-title"> 3. Payment</h4>
                    </div>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                    <div class="panel-body">
                        <div class="row">
                            <form method="post" action="{% url "payu.views.buy_order" %}">{% csrf_token %}
                                <div class="col-md-8">
                                    <h5><strong>PayU Money</strong></h5>
                                    <h5>Amount Payable : <i class="fa fa-rupee"></i> {{stpcwt}}</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <select name="initial">
                                                <option value="mr">Mr</option>
                                                <option value="mr">Mrs</option>
                                                <option value="mr">Miss</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input id="fname" class="form-control fname" type="text" name="fname">
                                            <span class="errormgs" style="display:none; color:red;">please enter the first name</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Lastname</label>
                                            <input id="lname" class="form-control lname" type="text" name="lname" />
                                            <span class="errormgs" style="display:none; color:red;">please enter the last name</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input id="mobileno"class="form-control mobileno" type="text" name="pnumber" />
                                            <span class="errormgs" style="display:none; color:red;">please enter the mobile number</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input id="email" class="form-control email" type="text" name="email" />
                                            <span class="errormgs" style="display:none; color:red;">please enter the email</span>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-success margintop15" type="submit">Make payment</button>
                                    <p class="margintop5">By Clicking on Make payment, you agree to all the <a href="#">Terms and Conditions</a></p>
                            </form>
                            <!--div class="col-md-4 text-right">
                                <img src="images/payment-gateway.jpg" alt="Payment Gateway" />
                            </div-->
                        </div>
                    </div>
                    {% endif %}
                </div> 
              <!--   <div class="panel panel-lightpurple opacitydot5">
                    <div class="panel-heading">
                        <h4 class="panel-title"> 3. Payment</h4>
                    </div>
                </div> -->    
            </div>
            <div class="col-md-1"></div>
            
        </div>
    </div>
</div><!-- bg-lightgrey bus-payment -->





<!-- pop up by priya -->
<!-- Cancel policy for hotel -->
<div class="wrapper"> <div class="modal">  
         <div class="close"> <i class="fa fa-times"></i></div>

        <div class="cancel_policy" style="width:600;margin-left:25px;height:500;margin-right:25px;">
            <p>
                Cancellation & Amendment Policy :
            </p>
            <p>
                No Show, Cancellation charges will be 100 % Cost.
                On cancellation of bookings done using promotional codes, the charges are calculated on total price
                Most hotels do not allow unmarried / unrelated couples to check-in. This is at full discretion of the hotel management. No refund would be applicable in case the hotel denies check-in under such circumstances .
                Goibibo doesn't support changes and modifications to online bookings once they're made.
            </p>
            <p>
                Hotel Policy :
            </p>
            <p>
                The standard check-in date is {{ request.COOKIES.checkin}} and the standard check-out date is {{ request.COOKIES.checkout}}. Early check-in or late check-out is strictly subjected to availability and may be chargeable by the hotel. Any early check-in or late check-out request must be directed and reconfirmed with hotel directly
            </p>
            <p>    
                Child Policy: 
            </p>
            <p>
                child below 12 year is Complimentary if using parents bed
                In keeping with our heightened security procedures we request you to carry a photo-identity to present at check-in. Foreign nationals will require to present the Passport and valid Visa, while Indian nationals can present any one of these: Passport, Driving License, Voter ID Card or PAN Card.
                Hotel may charge compulsory gala dinner supplement on Christmas / New Year's eve or other festive periods. Any such supplements need to be paid directly at the hotel.
                Most hotels do not allow unmarried / unrelated couples to check-in. This is at full discretion of the hotel management. No refund would be applicable in case the hotel denies check-in under such circumstances.
                Please note that it takes minimum of 4 to 8 working hours to confirm a reservation at the hotel for same day check-ins.
                For distant check-ins, you are not required to call the hotel to reconfirm the reservations. Your booking details will reach the hotel in time and the booking will be re-confirmed from our end.
            </p>
        </div>
    <div class="top-area show-onload">
        <div class="bg-holder full">
            <div class="bg-front bg-front-mob-rel">
                <div class="container">
               
                    <div class="search-tabs search-tabs-bg search-tabs-abs mt50">
                        <h2 class="light-purple " >BOOKING CANCEL</h2>
                        <div class="tabbable">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-1">
                                    <h2>Enter your Booking id</h2>
                                    <form action="{%url "hotels.views.confirmcancel" %}" method="post">{% csrf_token %}
                                        <div class="input-daterange" data-date-format="M d, D">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group form-group-lg form-group-icon-left">
                                                        <input class="typeahead " placeholder="" type="text" name="bookid"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary" type="submit">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     
</div>
<div class="modal_refund">
 <div class="close_btn"> <i class="fa fa-times"></i></div>
    <div class="container">
       
                <div class="search-tabs search-tabs-bg search-tabs-abs mt50">
                    <h1 style="color:#262626">Refund</h1>
                    <div class="tabbable">
                        <div class="tab-content">

                            <div class="tab-pane active" id="tab-1">
                                <h2>Enter your Booking id</h2>
                                <form action="{%url "hotels.views.getrefund" %}" method="post">{% csrf_token %}
                                    <div class="input-daterange" data-date-format="M d, D">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group form-group-lg form-group-icon-left">
                                                    <input class="typeahead " placeholder="" type="text" name="bookid"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Refund status</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
<!--refund status popup  -->
<div class="modal_refundstatus">
<div class="close_btn"> <i class="fa fa-times"></i></div>
    {{status}}
        {% if status.message %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <i class="fa fa-check round box-icon-large box-icon-center box-icon-success mb30"></i>  
                    <h2 class="text-center">Refund status</h2>

                    <ul class="order-payment-list list mb30">

                        <li>
                            <div class="row">
                               <table class="table">
                                   <tr>
                                       <td>Paid amount</td>
                                       <td>{{status.paid_amount}}</td>
                                   </tr>
                                   <tr>
                                       <td>Refund amount</td>
                                       <td>{{status.refund_amount}}</td>
                                   </tr>
                                   <tr>
                                       <td>Vendor</td>
                                       <td>{{status.vendor}}</td>
                                   </tr>
                               </table>

                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="gap"></div>
        </div>
        {%else%}
            <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <i class="fa fa-times-circle round box-icon-large box-icon-center box-icon-error mb30"></i>  
                    <h2 class="text-center">Your booking not cancellable.Please refer cancel policy</h2>

                </div>
            </div>
            <div class="gap"></div>
        </div>
        {%endif%}
        </div>
<!--refund status popup end -->

 {% endblock %} 
