{% load i18n %}
{% block subject %}
Welcome to Travel Portal {{username}}
{% endblock %}
{% block html %}
   <div>
 <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#eaeaea">
 <tbody>
 <tr>
 <td style="padding-top:10px">
<table width="630" cellspacing="0" cellpadding="15" border="0" bgcolor="#ffffff" align="center" style="padding-top:2em;border-top-left-radius:7px;border-top-right-radius:7px;border-bottom:1px solid #cccccc;margin:0 auto">
 <tbody>
    <tr>
  <td width="100%">
   <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
    <tbody>
   <tr>
   <td width="40%" bgcolor="#ffffff" align="left">
   <a class="logo" href="home.html">
                                <img src="{{ STATIC_URL }}img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                            </a>
  
   </td>
   <td width="45%" valign="middle" align="right">
   <p style="font-family:Helvetica,arial,sans-serif;font-size:15px;color:#9b9b9b;margin:0;margin-bottom:5px">Booking ID: <span style="color:#000000;font-weight:bold;font-size:18px">{{bookingid}}</span></p>
     <!-- <p style="font-family:Helvetica,arial,sans-serif;font-size:12px;color:#9b9b9b;margin:0">Booked on:{{checkin}} to {{checkout}} </p> -->
   </td>
    </tr>
   </tbody>
   </table>
 </td>
   </tr>
   </tbody>
   </table>
   </td>
   </tr>
  </tbody>
   </table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#eaeaea">
   <tbody>
   <tr>
   <td>
   <table width="630" cellspacing="0" cellpadding="0" border="0" align="center" style="background:#ffffff;margin:0 auto">
       <tbody>
     <tr>
   <td width="100%" style="padding:20px">
   <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
   <tbody>
     <tr>
   <td>
   {% if bookingid != '' %}
   <h1 style="font-family:Helvetica,arial,sans-serif;font-size:35px;color:#333333;text-align:left;line-height:1.3">Booking Confirmed</h1>
   {% elif bookingid == '' %}
   <h1 style="font-family:Helvetica,arial,sans-serif;font-size:35px;color:#333333;text-align:left;line-height:1.3">Booking Failed</h1>
   {% endif %}
     <p style="font-family:Helvetica,arial,sans-serif;font-size:16px;color:#4a4a4a;font-weight:bold;line-height:25px;text-align:left;margin-top:15px;margin-bottom:0;display:inline-block;padding:0">Dear {{user}}<br>Thank you for choosing Travel Portal.</p>
   
 <p style="color:#4a4a4a;font-family:Helvetica,arial,sans-serif;font-size:16px;line-height:25px;margin-top:15px;margin-bottom:0px;padding:0">
 Your hotel booking is confirmed. No need to call us to reconfirm this booking. Your eTicket is attached with the email sent to your email-Id.
   </p>
   </td>
 </tr>
 </tbody>
   </table>
     </td>
   </tr>
   </tbody>
   </table>
    </td>
   </tr>
   </tbody>
   </table>
        
  <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#eaeaea">
            <tbody>
                <tr>
                    <td width="100%">
                        <table width="630" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="margin:0 auto">
                            <tbody>
                                <tr>
                                    <td width="100%" style="padding:0 30px">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td width="100%" style="padding:0px 0">
                                                    
                                                    <table width="270" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" style="padding:5px 20px 5px 0">
                                                                       
                                   <!--  <a target="_blank" href="http://pp.goibibobusiness.com/hotels/detail/Pondicherry/The%20Richmond/7247861711286471145/3814239383203067830/na/hotels-3814239383203067830-20150818-20150825-1-2_0/">
                                    <img width="260" alt="Supporting image 1" src="https://ci4.googleusercontent.com/proxy/uTV2jfGoiOOg_a3OQ9lYr88tJ95ZLVsfRRGH_bxKpy2CnpOJNSlFJ4jwDP4SqDCJOu-G7SCVJ2gN5buTFEO8PJb0n2eC1KQJgl-W85K8Gu-3IYZ91DT10FOA6zrzHQ=s0-d-e1-ft#https://gos3.ibcdn.com/the-richmond-pondicherry-entrance-28604346srp.jpg" class="CToWUd"></a> -->
                                          
                                                                </td>
                                                            </tr>
                                                         </tbody>
                                                    </table>
                                                    
                                                    
   <table width="290" cellspacing="0" cellpadding="0" border="0" align="left">
        <tbody>
           <tr>
       <td width="100%" align="left" style="padding:5px">
        <p style="color:#3b7dc0;font-family:Arial,Helvetica,sans-serif;font-size:18px;line-height:20px;margin-top:0;margin-bottom:5px;font-weight:normal"><!-- <a target="_blank" href="http://pp.goibibobusiness.com/hotels/detail/Pondicherry/The%20Richmond/7247861711286471145/3814239383203067830/na/hotels-3814239383203067830-20150818-20150825-1-2_0/">The Richmond</a> -->
        <!-- <img src="{{hotels.gallery.2.2}}" alt="Image Alternative text" title="hotel PORTO BAY SERRA GOLF living room" /> -->
           </p>
<p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;margin-top:7px;margin-bottom:0;margin-left:0;margin-right:0;line-height:20px">{{hn}}<br/>{{c}}<br/>{{l}}</p>
   <!-- <p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;margin-top:7px;margin-bottom:0;margin-left:0;margin-right:0">Phone: 0413 2346363</p>
   <p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;margin-top:7px;margin-bottom:0;margin-left:0;margin-right:0">Email: <a target="_blank" href="https://mail.google.com/mail/?view=cm&amp;tf=1">therichmond@theresidency.com</a></p>
     <p style="font-family:Arial,Helvetica,sans-serif;font-size:14px;margin-top:7px;margin-bottom:0;margin-left:0;margin-right:0">Getting there: <a target="_blank" href="https://maps.google.com?daddr=11.9281796113,79.8321224714">Show directions</a></p> </td> -->
  </tr>
    </tbody>
   </table>
                                                    
   </td>
   </tr>
    </tbody></table>
  </td>
   </tr>
 <tr>
   <td width="100%" style="padding:0 30px">
   <table width="100%" cellspacing="0" cellpadding="0">
   <tbody>
     <tr>
   <td width="100%" style="border-bottom:1px solid #cccccc;padding-bottom:20px">
      <p style="font-family:Helvetica,arial,sans-serif;font-size:14px;color:#858585;margin:0;padding-bottom:5px">Guest Name</p>
    <span style="font-family:Helvetica,arial,sans-serif;font-size:18px;display:inline-block"><img src="https://ci6.googleusercontent.com/proxy/_9fYtHDukLsLuD5D-YfbiqbE7fqfT7fapqFgR_gPNvmbS8WA30Ugc-Te8_d9eNuL4BFtq3514w0z0LV0N149Qc2Zf2FLtXauqdvRBQ=s0-d-e1-ft#http://gos3.ibcdn.com/hjuls8bqkp4op248fja84esc003i.png" style="float:left;padding-right:10px" class="CToWUd"> {{user}}</span>
     </td>
     </tr>
    </tbody>
    </table>
   </td>
   </tr>
   <tr>
   <td width="100%" style="padding:0 30px">
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
     <tbody><tr>
     <td width="100%" style="border-bottom:1px solid #d8d8d8;padding:15px 0">
       <table width="270" cellspacing="0" cellpadding="0" border="0" align="left">
   <tbody>
     <tr>
   <td width="270" align="left" style="padding:5px 0">
     <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
      <tr>
        <td width="45%">
  <p style="font-family:Helvetica,arial,sans-serif;font-size:18px;color:#000000;margin:0;padding-bottom:4px">Check In</p>
     <p style="font-family:Helvetica,arial,sans-serif;font-size:16px;color:#000000;margin:0;padding-top:2px">{{checkin}}<span style="font-family:Helvetica,arial,sans-serif;font-size:14px;color:#777777"></span></p>
    </td>
  </tr>
   </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                         </tbody>
                                                    </table>
                                                    
      <table width="270" cellspacing="0" cellpadding="0" border="0" align="left">
   <tbody>
    <tr>
   <td width="270" align="left" style="padding:5px 0">
      <table width="100%" cellspacing="0" cellpadding="0">
   <tbody>
   <tr>
   <td>
  <p style="font-family:Helvetica,arial,sans-serif;font-size:18px;color:#000000;margin:0;padding-bottom:4px">Check Out</p>
   <p style="font-family:Helvetica,arial,sans-serif;font-size:16px;color:#000000;margin:0;padding-top:2px"><span data-term="goog_1766484721" class="aBn" tabindex="0"><span class="aQJ">{{checkout}}</span></span><span style="font-family:Helvetica,arial,sans-serif;font-size:14px;color:#777777"></span></p>
    </td>
     </tr>
     </tbody>
   </table>
      </td>
   </tr>
   </tbody>
   </table>
  </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" style="padding:0 30px">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td width="100%" style="border-bottom:1px solid #d8d8d8;padding:15px 0">
                                                    
   <table width="270" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" style="padding:5px 0">
                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="45%">
      <p style="font-family:Helvetica,arial,sans-serif;font-size:14px;color:#858585;margin:0;width:100%;float:left;padding-bottom:5px">Room Count</p>
      <span style="font-family:Helvetica,arial,sans-serif;font-size:18px;display:inline-block">{{rooms}}</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                         </tbody>
                                                    </table>
                                                    
                                                    
                                                    
                                                    <table width="270" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" style="padding:5px 0">
                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
 <p style="font-family:Helvetica,arial,sans-serif;font-size:14px;color:#858585;margin:0;padding-bottom:5px">Total Amount</p>
    <span style="font-family:Helvetica,arial,sans-serif;font-size:18px;display:inline-block">{{prc}}</span>
                                                                                     
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    
                                                    
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                 
                                    
                  
                  
                  <tr>
                                        <td style="padding:0 30px">
                                            <table width="100%" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="100%" style="border-bottom:1px solid #cccccc;padding:20px 0">
                                                            <!-- <p style="font-family:Helvetica,arial,sans-serif;font-size:18px;color:#767505;margin:0;padding-top:2px">Vendor Booking ID: 0000033823</p> -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    
                                
                               
                               
                <tr>
                    <td width="100%" style="padding:20px 30px">
                      <table width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td width="100%" style="border-bottom:1px solid #cccccc;padding:0">
                                      <p style="font-family:Helvetica,arial,sans-serif;font-size:20px;color:#5c5c5c;margin:0;padding-bottom:10px"><a target="_blank" href="http://maps.googleapis.com/maps/api/staticmap?center=11.9281796113,79.8321224714&amp;zoom=15&amp;size=900x300&amp;maptype=roadmap&amp;markers=color:red%7Clabel:%7C11.9281796113,79.8321224714">Hotel Location Map</a></p>
                                      <a target="_blank" href="http://maps.googleapis.com/maps/api/staticmap?center=11.9281796113,79.8321224714&amp;zoom=15&amp;size=900x300&amp;maptype=roadmap&amp;markers=color:red%7Clabel:%7C11.9281796113,79.8321224714">
                                      <img style="width:100%;float:left" src="https://ci3.googleusercontent.com/proxy/0iznTIRffk5S_2VXcWFfF3LyhC3tubR0pcZTG_yVXp0VB-3RYvjW77Pr-cS5RYoH2kqCWQmcyIPl7kOlGZnU54H-pnjSVxDEokDGAh3k9_k6qQ4iC0UmUvkOZ4RZf72xQanGSz630tvrqUyWKRReSFQgQXHtCxWYU9zhDuopyeDVOVK7acPybf3tPDoX-KX-kCbxZeQ2427sT9FyX7OchwMPR2KY1f6tSec4qdKl9suKwI1FdTXLYeOOTLfV2X8EFertUxk=s0-d-e1-ft#http://maps.googleapis.com/maps/api/staticmap?center=11.9281796113,79.8321224714&amp;zoom=15&amp;size=900x300&amp;maptype=roadmap&amp;markers=color:red%7Clabel:%7C11.9281796113,79.8321224714" class="CToWUd"></a>
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                
                                <tr>
                                    <td width="100%" style="padding:0 30px">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td width="100%" style="padding-bottom:10px">
                                                        <span style="font-family:Helvetica,arial,sans-serif;font-weight:bold;font-size:18px;color:#4a4a4a;display:inline-block">Room Details</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" style="padding:0 30px">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td width="100%" style="border-bottom:1px solid #d8d8d8;padding:15px 0">
                                                    
                                                    <table width="170" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="170" align="left" style="padding:5px 0">
                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
    <td width="30%">
    <span style="font-family:Helvetica,arial,sans-serif;font-weight:bold;font-size:15px;display:inline-block;color:#4a4a4a;padding-right:10px">Number of Guests</span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                         </tbody>
                                                    </table>
                                                    
                                                    
                                                    <table width="370" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="370" align="left" style="padding:5px 0">
                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
      <span style="font-family:Helvetica,arial,sans-serif;font-size:15px;display:inline-block;color:#4a4a4a;padding-top:2px">Adult:{{guest}}<br/>Child:{{child}} </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td width="100%" style="padding:0 30px">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td width="100%" style="border-bottom:1px solid #d8d8d8;padding:15px 0">
                                                    
                                                    <table width="170" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" style="padding:5px 0">
                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="30%">
    <!-- <span style="font-family:Helvetica,arial,sans-serif;font-weight:bold;font-size:15px;display:inline-block;color:#4a4a4a">Inclusions/Exclusions </span> -->
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                         </tbody>
                                                    </table>
                                                    
                                                    
                                                    <table width="370" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" style="padding:5px 0">
                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
    <!-- <span style="font-family:Helvetica,arial,sans-serif;font-size:15px;display:inline-block;color:#4a4a4a;padding-top:2px"> Accommodation , Breakfast(CP)</span> -->
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td width="100%" style="padding:0 30px">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td width="100%" style="border-bottom:1px solid #d8d8d8;padding:15px 0">
                                                    
                                                    <table width="170" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" style="padding:5px 0">
                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="30%">
   <span style="font-family:Helvetica,arial,sans-serif;font-weight:bold;font-size:15px;display:inline-block;color:#4a4a4a">Cancellation Policy </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                         </tbody>
                                                    </table>
                                                    
                                                    
                                                    <table width="370" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" style="padding-bottom:5px">
                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                        
                                    
                                    <p style="font-family:Helvetica,arial,sans-serif;font-size:15px;margin:0;padding-top:7px;padding-bottom:5px;color:#4a4a4a">Booking for this duration is non-refundable..</p><br>
                                    
                                    <p style="font-family:Helvetica,arial,sans-serif;font-size:15px;margin:0;padding-top:7px;padding-bottom:5px;color:#4a4a4a">On cancellation of bookings done using promotional codes, the charges are calculated on total price.</p><br>
                                    
                                    <p style="font-family:Helvetica,arial,sans-serif;font-size:15px;margin:0;padding-top:7px;padding-bottom:5px;color:#4a4a4a">Most hotels do not allow unmarried / unrelated couples to check-in. This is at full discretion of the hotel management. No refund would be applicable in case the hotel denies check-in under such circumstances ..</p><br>
                                    
                                    <p style="font-family:Helvetica,arial,sans-serif;font-size:15px;margin:0;padding-top:7px;padding-bottom:5px;color:#4a4a4a">On cancellation of bookings done using promotional codes, the charges are calculated on total price.</p><br>
                                    
                                    
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td width="100%" style="padding:0 30px">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td width="100%" style="border-bottom:1px solid #d8d8d8;padding:15px 0">
                                                    
                                                    <table width="170" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" style="padding:5px 0">
                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="30%">
    <span style="font-family:Helvetica,arial,sans-serif;font-weight:bold;font-size:15px;display:inline-block;color:#4a4a4a">Hotel Policy </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                         </tbody>
                                                    </table>
                                                    
                                                    
                                                    <table width="370" cellspacing="0" cellpadding="0" border="0" align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%" align="left" style="padding-bottom:5px">
                                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                        
                                    <p style="font-family:Helvetica,arial,sans-serif;font-size:15px;margin:0;padding-top:7px;padding-bottom:5px;color:#4a4a4a">The standard check-in time is <span data-term="goog_1766484722" class="aBn" tabindex="0"><span class="aQJ">12:00 PM</span></span> and the standard check-out time is <span data-term="goog_1766484723" class="aBn" tabindex="0"><span class="aQJ">12:00 PM</span></span>.
                Early check-in or late check-out is strictly subjected to availability
                and may be chargeable by the hotel. Any early check-in or late check-out
                request must be directed and reconfirmed with hotel directly.</p><br>
                                    
                                    <p style="font-family:Helvetica,arial,sans-serif;font-size:15px;margin:0;padding-top:7px;padding-bottom:5px;color:#4a4a4a">To Guarantee your room reservation,Kindly forward an approval authorizing the hotel to charge one day room rent to your credit card or alternatively payment shall be deposited to our bank account.We request you to forward us the details once payment is deposited in our bank account..</p><br>
                                    
                                    <p style="font-family:Helvetica,arial,sans-serif;font-size:15px;margin:0;padding-top:7px;padding-bottom:5px;color:#4a4a4a">The advance has to be paid 1 week prior to arrival,otherwise reservation stands cancelled..</p><br>
                                    
                                    <p style="font-family:Helvetica,arial,sans-serif;font-size:15px;margin:0;padding-top:7px;padding-bottom:5px;color:#4a4a4a">Hotel may charge compulsory gala dinner supplement on Christmas / New Year's eve or other festive periods. Any such supplements need to be paid directly at the hotel..</p><br>
                                    
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    
                                                </td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                
                                
                                
                <tr>
                  <td width="100%" style="padding:0 30px">
                    <table width="100%" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td width="100%" style="border-bottom:1px solid #d8d8d8;padding:10px 0">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                              <tbody>
                                <tr>
                                  <td width="100%" valign="top" style="font-family:Helvetica,arial,sans-serif;font-weight:bold;font-size:15px;color:#5c5c5c">Now click hotel photos on the GO &amp; add them to your hotel review in 3 simple steps with our new mobile app. Share your experience and help others make wiser travelling choices.
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                
                                <tr>
                                    <td width="100%" style="padding:0 30px">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <!-- <tr>
                                                    <td width="100%" style="padding:20px 0">
                                                       <p style="font-family:Helvetica,arial,sans-serif;font-weight:bold;font-size:16px;color:#4a4a4a;font-weight:bold;line-height:25px;text-align:left;margin-top:15px;font-weight:bold;margin-bottom:0;display:inline-block;padding:0">Need Help?</p>
                                                        <p style="color:#4a4a4a;font-family:Helvetica,arial,sans-serif;font-size:15px;line-height:25px;margin-top:0;padding:0">
                                                          For any questions related to the property, you can contact The Richmond directly at: <a target="_blank" style="text-decoration:underline!important" href="tel:%200413%202346363">0413 2346363</a> or <a target="_blank" style="text-decoration:underline!important" href="https://mail.google.com/mail/?view=cm&amp;tf=1&amp;totherichmond@theresidency.com">therichmond@theresidency.com</a></p>
                                                          
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                
                           
                        </tbody></table> 
                    </td>
                </tr>
            </tbody>
        </table>
  



    
    
      <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#eaeaea">
            <tbody>
                <tr>
                    <td>
                        <table width="630" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center" style="margin:0 auto">
                            <tbody>
                                <tr>
                                    <td width="100%" style="padding:30px 0">
                                        <table cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
                                            <tbody>
                                            
                                                    <tr><td>
                                                        <span style="float:left;font-family:Helvetica,arial,sans-serif;font-size:15px;text-decoration:none;margin:0;padding-left:25px;width:100%;color:#5c5c5c">To tell us your issue, call us at 0124-6777003</span>
                                                    </td>
                                                
                                            </tr></tbody>
                                        </table>
                                    </td>
                                 </tr>
                          </tbody>
                     </table>
          </td>
        </tr>
      </tbody>
</table>



    
        
          
        
    
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#eaeaea">
      <tbody>
        <tr>
          <td>
            <table width="630" cellspacing="0" cellpadding="0" border="0" align="center" style="margin:0 auto">
              <tbody>
                <tr>
                  <td width="100%">
                    <table width="630" cellspacing="0" cellpadding="0" border="0" align="center">
                      <tbody>
                        <tr>
                          <td valign="middle" align="center">
                            <p style="font-family:Helvetica,arial,sans-serif;font-size:11px;padding:7px 0;color:#ababab;margin:0">ibibo Group, 5th Floor, Good Earth City Centre , Sector-50, Gurgaon -122018. (India)</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table><div class="yj6qo"></div><div class="adL">
    
  </div></div>
  {% endblock %}

