{% load i18n %}

{% block html %}

<div class="back_img" style="border: 1px groove; border-radius: 6px; height: 600px; width: 800px;">
  <img src="../../static/img/imgo.jpg" style="position:relative;">
    <div class="content" style="font-size: 18px; height: 45%; line-height: 20px; position: absolute; right: 501px; top: 45%; width: 31%;">
      <p>Dear {{name}},</p>
      <p> 
        Thank you for creating an account with us.<p>
        <p>You can go anywhere by using Oozaaoo. We are providing packages to you please check and enjoy our service...</p>
        <p>
        You can login using your {{name}} and password correctly.
      </p>
    </div>
</div>
{% endblock %}